
  <%= form_with(model: investigador, local: true) do |form| %>

    <% if investigador.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(investigador.errors.count, "error") %> prohibited this investigacion_programa from being saved:</h2>

        <ul>
        <% investigador.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="cuadro-texto">
      <h1 align="center"  class="titulo"><%= form.label :publicaciones%></h1>
      <%= form.cktext_area :docencia,id: "docencia_id",ckeditor: { uiColor: '#CFD3D3 '}%>

      <div class="actions">
        <%= form.submit :actualizar, class: "btn-actualizar" %>
      </div>
    </div>
  <% end %>
