<%= render 'comuninvestigacion' %>

<div class="contenedor">
    <div class="cajaPersonal01">
      <p  class="tituloPersonalProyecto">Personal y proyectos de investigación </p>

      <p><%= image_tag("iconAcademicoM.png") %><%= link_to "  Jarquín Sánchez María Elena Esperanza", "/investigadors/informacion/26", class: "personalAcademico" %></a><span class="cargo"> / coordinador</span> <br />
        <span class="proyectosDeInvestigacion">Narrativa s&aacute;fica latinoamericana. (Tesis  doctoral).</span>
      </p>
      <p><%= image_tag("iconAcademicoM.png") %><%= link_to "  Aguiluz Ibargüen Maya Victoria", "/investigadors/informacion/1", class: "personalAcademico" %><br>
        <span class="proyectosDeInvestigacion">El cuerpo irreductible: cuerpo, espacialidad y emociones en la teoría social.</span>
      </p>
      <p><%= image_tag("iconAcademicoM.png") %><%= link_to "  Cabrera López Gloria Patricia", "/investigadors/informacion/6", class: "personalAcademico" %><br>
        <span class="proyectosDeInvestigacion">Literatura, cultura y política en América Latina.</span>
      </p>
      <p><%= image_tag("iconAcademicoM.png") %><%= link_to "  Estrada Castañón Alba Teresa", "/investigadors/informacion/16", class: "personalAcademico" %><br>
        <span class="proyectosDeInvestigacion">Democracia, movimientos y partidos en México y América Latina: participación política y visiones alternas desde las regiones.</span>
      </p>
    </div>
    <div class="cajaPersonal02">
      <p>&nbsp;</p>
      <p><%= image_tag("iconAcademicoM.png") %><%= link_to "  	Valencia García Guadalupe", "/investigadors/informacion/49", class: "personalAcademico" %><br></a><span class="cargo"> (cargo de Directora)</span> <br />
        <span class="proyectosDeInvestigacion">La temporalidad social.</span>
      </p>
    </div>

    <div class="cajaPersonal03">
      <p  class="tituloPersonalProyecto">Publicaciones recientes</p><br>

       <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to " La penalidad femenina", root_path,class: "tituloProducto"%><br>
         <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores"> Pablo Hoyos González, Maya Aguiluz Ibargüen, Cynthia Ortega Salgado</span></p>

       <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  Entre cronos y kairós. Las formas del tiempo sociohistórico", root_path,class: "tituloProducto"%><br>
         <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores"> Guadalupe Valencia</span></p>

       <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to " Pensando Bolivia desde México. Estado, movimientos, territorios y representaciones", root_path,class: "tituloProducto"%><br>
         <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores"> Guadalupe Valencia, Börries Nehe, Cecilia Salazar</span></p>

       <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  Visibilidades de la violencia en Latinoamérica: la repetición, los registros y los marcos", root_path,class: "tituloProducto"%><br>
         <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores"> Maya Aguiluz Ibargüen</span></p>

       <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  Ocho religaduras sociológicas: de cuerpos y signaturas", root_path,class: "tituloProducto"%><br>
         <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores"> Maya Aguiluz Ibargüen</span></p>

  </div>


</div>

</div>
