<%= render 'comuninvestigacion' %>

<div class="contenedor">

  <div class="cajaPersonal01">

    <p  class="tituloPersonalProyecto">Personal y proyectos de investigación </p>

    <p><%= image_tag("iconAcademicoH.png") %><%= link_to "  Vega Montiel Medley Aimée", "/investigadors/informacion/50", class: "personalAcademico" %></a><span class="cargo"> / coordinadora</span> <br />
      <span class="proyectosDeInvestigacion">Las mujeres y el derecho humano a la comunicación: su acceso y participación en las industrias mediáticas. </span>
      <span class="proyectosDeInvestigacion">Igualdad de género, poder y comunicación. La influencia de las mujeres en los procesos de toma de decisiones en la industrai de comunicación. (Proyecto PAPIIT) </span>
    </p>
    <p><%= image_tag("iconAcademicoH.png") %><%= link_to "  Castañeda Salgado Martha Patricia", "/investigadors/informacion/8", class: "personalAcademico" %><br>
      <span class="proyectosDeInvestigacion">Antropología feminista en México, Guatemala, Argentina y España.</span>
      <span class="proyectosDeInvestigacion">Investigación diagnóstica para la elaboración de un modelo de UNAM segura. (Proyecto PAPIIT)</span>
    </p>
    <p><%= image_tag("iconAcademicoH.png") %><%= link_to "  Jarquín Sánchez María Elena Esperanza", "/investigadors/informacion/26", class: "personalAcademico" %><br>
      <span class="proyectosDeInvestigacion">Geografía y uso de las remesas de la migración binacional desde la perspectiva de género.</span>
    </p>
    <p><%= image_tag("iconAcademicoH.png") %><%= link_to "  López Guerrero Jahel", "/investigadors/informacion/33", class: "personalAcademico" %><br>
      <span class="proyectosDeInvestigacion">Mujeres indígenas y juventud: experiencias, identidades y derechos en contextos interétnicos e interculturales en México.</span>
    </p>

    </p>
  </div>
  <div class="cajaPersonal02">

    <p><%= image_tag("iconAcademicoH.png") %><%= link_to "  Ordorika Sacristán Teresa", "/investigadors/informacion/43", class: "personalAcademico" %><br>
      <span class="proyectosDeInvestigacion">Concepciones de locura en España y la Nueva España. Siglos XVI y XVII, desde la perspectiva de género.</span>
      <span class="proyectosDeInvestigacion">Análisis cuantitativo de la población psiquiátrica del Manicomio General la Castañeda 1910-1968. (Proyecto PAPIIT)</span>
      <span class="proyectosDeInvestigacion">La medicalización en México: primer acercamiento teórico-metodológico. (Proyecto PAPIIT)</span>

    </p>
    <p><%= image_tag("iconAcademicoH.png") %><%= link_to "  Tena Guerrero Olivia", "/investigadors/informacion/48", class: "personalAcademico" %><br>
      <span class="proyectosDeInvestigacion">La condición de soltería en mujeres de mediana edad con actividad laboral.</span>
    </p>
    <p class="tituloTecAcademicos">Personal técnico académico:</p><br>
      <%= link_to "  Mendoza Villavicencio Hermelinda", "/tecnicos/informacion/19", class: "personalAcademico" %><br>
      <%= link_to "  Olivos Santoyo Leonardo Felipe", "/tecnicos/informacion/23", class: "personalAcademico" %><br></a><span class="cargo"> Inscrito en el cuerpo: la historia del SIDA desde experiencia de actividades gays en Buenos Aires y la Ciudad de México.</span>

</div>

<div class="cajaPersonal03">

  <p  class="tituloPersonalProyecto">Publicaciones recientes</p><br>

  <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  Jóvenes y espacio público", root_path,class: "tituloProducto"%><br>
    <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores">Jahel López Guerreo y Marcela Meneses Reyes </span></p>

  <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  Mujeres jóvenes indígenas migrantes en la zona metropolitana del valle de México: condiciones estructurales y subjetividades en la construcción de su experiencia juvenil", root_path,class: "tituloProducto"%><br>
    <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores">Jahel López Guerrero </span></p>

  <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  Lecturas críticas en investigación feminista", root_path,class: "tituloProducto"%><br>
    <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores">Norma Blazquez Graf, Martha Patricia Castañeda Salgado </span></p>

  <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  Mujeres en la policía. Miradas feministas sobre su experiencia y su entorno laboral", root_path,class: "tituloProducto"%><br>
    <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores">Olivia Tena Guerrero, Jahel López Guerrero </span></p>

  <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  El campo teórico feminista. Aportes epistemológicos y metodológicos", root_path,class: "tituloProducto"%><br>
    <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores">María Elena Jarquín Sánchez </span></p>

</div>


</div>



</div>
