<%= render 'comuninvestigacion' %>

<div class="contenedor">

  <div class="cajaPersonal01">
    <p  class="tituloPersonalProyecto">Personal y proyectos de investigación </p>

    <p><%= image_tag("iconAcademicoM.png") %><%= link_to "  Concheiro Bórquez María Elvira", "/investigadors/informacion/9", class: "personalAcademico" %></a><span class="cargo"> / coordinadora</span> <br />
      <span class="proyectosDeInvestigacion">Domesticación y diversificación de plantas de Mesoamérica: evolución y valor de uso. </span>
    </p>

    <p><%= image_tag("iconAcademicoH.png") %><%= link_to "  Flores Olea Víctor", "/investigadors/informacion/18", class: "personalAcademico" %><br>
      <span class="proyectosDeInvestigacion">Democracia radical y alternativas</span>
    </p>
    <p><%= image_tag("iconAcademicoM.png") %><%= link_to "  Daville Landero Selva Leonor", "/investigadors/informacion/13", class: "personalAcademico" %><br>
      <span class="proyectosDeInvestigacion">La industria automotriz en el valle de México 1993-2008.</span>
    </p>
    <p><%= image_tag("iconAcademicoM.png") %><%= link_to "  Gandarilla Salgado José Guadalupe", "/investigadors/informacion/20", class: "personalAcademico" %><br>
      <span class="proyectosDeInvestigacion">Estructura de la mundializaci&oacute;n y su  proyecci&oacute;n hacia el Siglo XXI: un enfoque interdisciplinario.</span>
      <span class="proyectosDeInvestigacion">El programa de investigaci&oacute;n  modernidad / colonialidad como herencia del pesnar latinoamericano y relevo de  sentido en la teor&iacute;a cr&iacute;tica. (Proyecto PAPIIT)</span>
    </p>

  </div>
  <div class="cajaPersonal02">
    <p>&nbsp;</p>
    <p><%= image_tag("iconAcademicoM.png") %><%= link_to "  Saxe Fernández John", "/investigadors/informacion/47", class: "personalAcademico" %><br>
      <span class="proyectosDeInvestigacion">Geoeconom&iacute;a y geopol&iacute;tica del capital.</span>
    </p>
    <p class="tituloTecAcademicos">Ayudantes de Investigación:</p><br>
      <span class="personalAcademicoSinLiga"> Valeria Guti&eacute;rrez Vega</span> <span class="proyectosDeInvestigacion">(becaria  CEIICH)</span><br />
  </div>



<div class="cajaPersonal03">

  <p  class="tituloPersonalProyecto">Publicaciones recientes</p><br>
  <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  Del monólogo europeo al diálogo inter-filosófico ensayos sobre Enrique Dussel y la filosofía de la liberación", root_path,class: "tituloProducto"%><br>
    <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores"> José Guadalupe Gandarilla Salgado y Mabel Moroña</span></p>

  <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  Antología del pensamiento crítico mexicano contemporáneo", root_path,class: "tituloProducto"%><br>
    <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores"> Elvira Concheiro Bórquez, Alejandro Fernando González Jiménez, Aldo A. Guevara Santiago y más</span></p>

  <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to " El regreso del topo. Karl Marx a 195 años de su nacimiento", root_path,class: "tituloProducto"%><br>
    <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores"> Elvira Concheiro Bórquez</span></p>

  <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  Marx revisitado: posiciones encontradas", root_path,class: "tituloProducto"%><br>
    <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores"> Elvira Concheiro y José Gandarilla</span></p>

  <%=fa_icon('sticky-note',class: 'far fa-sticky-note fa-2x icon-publicacion')%><%= link_to "  La compraventa de M&eacute;xico: una interpretaci&oacute;n hist&oacute;rica y estrat&eacute;gica de las relaciones M&eacute;xico-Estados Unidos", root_path,class: "tituloProducto"%><br>
    <p><%=fa_icon('pencil-alt',class: 'fas fa-pencil-alt icon-autor')%><span class="autores"> John Saxe-Fernández</span></p>

</div>

</div>


</div>
