<span class="nombrePagina"> </span> &nbsp;&nbsp;&nbsp;

  <%cont = 0%>

  <%=tematica%>
  <div class="caja">

    <%contmodal=1%>


      <%libros.order(clave: :desc).each do |libro|%>
        <%if tematica == libro.tematica%>
          <%if cont == 0%>

          <div class="imagen-libro">
            <%@LibroModal="LibroModal"+contmodal.to_s%>
            <%=image_tag libro.img.url(:libro), data: { target: "##{@LibroModal}", toggle: "modal"}%>
            <%=render "/fondo_editorial/modal", libro: libro%>
            <%contmodal=contmodal+1%>
          </div>

          <div class="descripcion">
            <p>
              <strong>Clave:</strong>
              <%= libro.clave %> <br>
              <strong>Titulo:</strong>
              <%= libro.titulo %><br>
              <%if libro.autor != nil and libro.autor != ""%>
                <strong>Autor:</strong>
                <%= libro.autor %><br>
              <%end%>
              <%if libro.coordinador != nil and libro.coordinador != ""%>
                <strong>Coordinador:</strong>
                <%= libro.coordinador %><br>
              <%end%>
              <strong>Coleccion:</strong>
              <%= libro.coleccion %><br>
              <strong>Tematica:</strong>
              <%= libro.tematica %><br>
              <strong>Edicion:</strong>
              <%= libro.edicion %><br>
              <strong>Anio:</strong>
              <%= libro.anio %><br>
              <strong>Paginas:</strong>
              <%= libro.paginas %><br>
              <strong>Isbn:</strong>
              <%= libro.isbn %><br>
              <strong>Precio:</strong>
              <%= libro.precio %><br>
              <strong>Descriptores:</strong>
              <%= libro.descriptores.try(:html_safe)  %><br>
            </p>
            <%cont = cont+1%>
          </div>

          <%else%>

          <div class="imagen-libro">
            <%@LibroModal="LibroModal"+contmodal.to_s%>
            <%=image_tag libro.img.url(:libro), data: { target: "##{@LibroModal}", toggle: "modal"}%>
            <%=render "/fondo_editorial/modal", libro: libro%>
            <%contmodal=contmodal+1%>
          </div>

          <div class="descripcion">
            <p>
              <strong>Clave:</strong>
              <%= libro.clave %> <br>
              <strong>Titulo:</strong>
              <%= libro.titulo %><br>
              <%if libro.autor != nil and libro.autor != ""%>
                <strong>Autor:</strong>
                <%= libro.autor %><br>
              <%end%>
              <%if libro.coordinador != nil and libro.coordinador != ""%>
                <strong>Coordinador:</strong>
                <%= libro.coordinador %><br>
              <%end%>
              <strong>Coleccion:</strong>
              <%= libro.coleccion %><br>
              <strong>Tematica:</strong>
              <%= libro.tematica %><br>
              <strong>Edicion:</strong>
              <%= libro.edicion %><br>
              <strong>Anio:</strong>
              <%= libro.anio %><br>
              <strong>Paginas:</strong>
              <%= libro.paginas %><br>
              <strong>Isbn:</strong>
              <%= libro.isbn %><br>
              <strong>Precio:</strong>
              <%= libro.precio %><br>
              <strong>Descriptores:</strong>
              <%= libro.descriptores.try(:html_safe)  %><br>
            </p>
            <%cont=0%>
          </div>



        <%end%>
      <%end%>
  <%end%>



  </div>
