<link href="10000000.css" rel="stylesheet" type="text/css" title="normal"/>
<link href="20000000.css" rel="stylesheet" type="text/css" title="normal"/>
<link href="30000000.css" rel="stylesheet" type="text/css" title="normal"/>

<div class="contenedor clearfix">

<div class="cajaDelTituloDeLaPagina">
	<span class="nombrePagina">Novedades </span> &nbsp;&nbsp;&nbsp;

	<div class="cajamenulibros">
	<%=fa_icon('book',class: 'fas fa-book fa-2x icon-libro')%><%= link_to "  Libros","libros_tematica",class: "libros"%>
	<%=fa_icon('book-open',class: 'fas fa-book-open fa-2x  icon-libro')%><%= link_to "  Revistas","revistas",class: "libros"%>
	<%=fa_icon('video',class: 'fas fa-video fa-2x  icon-libro')%><%= link_to "  Videos","video",class: "libros"%>
	</div>
</div>

	<div class="cajatabla-libros clearfix">
		<table class="tabla-libros" border="0" cellpadding="0" cellspacing="20" id= "novedades">
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/RegiemenesPaula.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
					Título:<strong>Regímenes de alteridad, estados-nación y alteridades indígenas en América Latina, 1810-1950 </strong></br>
					Autor o Coordinador:<strong>Paula López Caballero y Christophe Giudicelli </strong></br>
					Sin colección <br>
					CEIICH-UNAM, Coedición con Universidad de los Andes, Vicerrectoría de Investigaciones y Doctorados, Ediciones Uniandes; Universidad Nacional Villa María, Eduvim <br>
					Año: 2019 <br>
					Páginas: 292 pp. <br>
					ISBN: 978-607-30-2129-6 <br>
					Descriptores: López Caballero, Paula, editor. I Giudicelli, Christophe, editor. I Correa, María Mercedes, traductor. Regímenes de alteridad: estados-nación y alteridades indígenas en América Latina, 1810-1950 / Paula López Caballero y Christophe Giudicelli, edición académica; traducción de María Mercedes Correa. Régimens nationaux d’altérité. Español. Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades; Bogotá, D.C., Colombia; Ediciones Uniandes; Córdoba, Argentina: Editorial Universitaria de Villa María, 2019 LIBRUNAM 2051949 I ISBN: 978-607-30-2129-6 (UNAM). ISBN 9789587746396 (UNIANDES). I ISBN 9789876995900 (EDUVIM). Indios – Asimilación cultura – América Latina. I Indios de América del Sur – Condiciones sociales – Siglo XX. I Indios de México – Condiciones sociales – Siglo XIX I Indios de México – Condiciones sociales – Siglo XX I Identidad colectiva – América Latina I Pueblos indígenas – América Latina. I El otro (Filosofía). I América Latina – Relaciones étnicas – Historia – Siglo XIX. I América Latina – Relaciones étnicas – Historia – Siglo XX. LCC E65.R4418 2019 IDDC 980.00498—dc23.
					</div><br>
	 				<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
	 				<span class="botonFichaCompleta">Ficha completa</span></a>
	 				<span class="botonPrecio">Precio: $ 312</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/Portadita El malestar.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>918</strong></br>
						Título:<strong>El malestar con la representación en México</strong></br>
						Autor o Coordinador:  <strong>Jorge-Cadena Roa y Miguel Armando López Leyva</strong></br>
						Colección Café de altura. Humanidades y Ciencias Sociales <br>
						CEIICH / FICTICIA EDITORIAL <br>
						Año: 2019 <br>
						Páginas: 488 pp. <br>
						ISBN: 978-607-302-081-7 <br>
						Descriptores: Catalogación en la publicación UNAM. Dirección General de Bibliotecas Nombres: Cadena Roa, Jorge, editor. I López Leyva, Miguel Armando, editor. Título:<strong></strong></br> El malestar con la representación en México I Jorge Cadena – Roa, Miguel Armando López Leyva (coordinadores). Descripción: Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades: Ficticia, 2019. I Serie: Colección Café de altura. Humanidades y ciencias sociales Identificadores: LIBRUNAM 2051143 I ISBN: 978-607-30-2081-7 (UNAM) I ISBN 978-607-52-1121-3 (Ficticia) Temas: Gobierno representativo – México. I Democracia –México. I Partidos políticos – México- I Participación política – México. Clasificación: LCC JF 1051.M347 2019 I DDC 321.8––dc23
					</div><br>

	 				<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
	 				<span class="botonFichaCompleta">Ficha completa</span></a>
	 				<span class="botonPrecio">Precio: $ 349</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/Derechos-Humanos.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong> 917</strong></br>
						Título:<strong>Derechos humanos y conflictos por la justicia en América Latina</strong></br>
						Autor o Coordinador: 	<strong>Laura Loeza Reyes, Jairo Antonio López (coords.).</strong></br>
						Colección Alternativas <br>
						CEIICH-UNAM <br>
						Año: 2019 <br>
						Páginas: 212 pp. <br>
						ISBN: 978-607-30-1937-8 <br>
						Descriptores: Loeza Reyes, Laura, editor López Pacheco, Jairo Antonio, editor. Derechos humanos y conflictos por la justicia en América Latina I Laura Loeza Reyes, Jairo Antonio López Pacheco (coordinadores). Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2019. I Serie: Colección Alternativas. LIBRUNAM 2046938 I ISBN: 978-607-30-1937-8 Derechos humanos – América Latina. I Defensa de los derechos humanos – América Latina. I Movimientos de derechos humanos – América Latina. I Justicia social – América Latina. LCC JC599.A5.D47 2019 I DDC 323.098––dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
	 				<span class="botonFichaCompleta">Ficha completa</span></a>
	 				<span class="botonPrecio">Precio: $ 240</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/port_Cuerpos mostrados.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>916</strong></br>
						Título:<strong>Cuerpos mostrados. Regímenes de exhibición de lo humano</strong></br>
						Autor o Coordinador: 	<strong></strong></br> José Pardo-Tomás, Alfons Zarzoso, Mauricio Sánchez Menchero (coords.)
						CEIICH-UNAM, Siglo XXI Editores
						Año: 2019
						ISBN: 978-607-30-1380-2
						Descriptores: 1. Diagnóstico por imágenes – Aspectos sociales – España. 2. Diagnóstico por imágenes – Historia – España. 3. Medicina y las humanidades – Historia – España. I. Pardo-Tomás, José, editor. II. Zarzoso, Alfons, editor. III. Sánchez Menchero, Mauricio, editor. IV. ser.
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
	 				<span class="botonFichaCompleta">Ficha completa</span></a>
	 				<span class="botonPrecio">Precio: $ 600</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/Narrar-la-cienciaReimpre2019.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>915</strong></br>
						Título:<strong>Narrar la ciencia</strong></br>
						Autor o Coordinador: <strong>Aquiles Negrete Yankelevich</strong></br>
						Biblioteca Aprender a Aprender
						CEIICH-UNAM
						Año: 2019, 1era. Reimpresión
						Páginas: 244 pp.
						ISBN: 978-607-02-6066-7
						Descriptores: Negrete Yankelevich, Aquiles, editor. Narrar la ciencia / coordinador, Aquiles Negrete Yankelevich. Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2014. I Serie: Biblioteca Aprender a aprender. I Reimpresiones: (1ª. 2019). LIBRUNAM 2036133 I ISBN 9786070260667. Comunicación científica. I Literatura y ciencia. I Ciencia – Literatura juvenil. LCC Q223.N37 2014 I DDC501.4—dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
	 				<span class="botonFichaCompleta">Ficha completa</span></a>
	 				<span class="botonPrecio">Precio: $ 240</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/PortadaEstadosUnidos026.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>913</strong></br>
						Título:<strong> Estados Unidos en un mundo en crisis. Geopolítica de la precariedad y la superexplotación del trabajo</strong></br>
						Autor o Coordinador: 	<strong>Adrián Sotelo Valencia. Prólogo de John Saxe-Fernández</strong></br>
						Sin colección
						CEIICH-UNAM, Coedición con Anthropos
						Año: 2019
						Páginas: 208 pp.
						ISBN: 978-607-30-1443-4
						Descriptores: 1. Globalización 2. Geopolítica 3. Economía Internacional 4. Economía del Trabajo 5. Estructura y Procesos Políticos I. Saxe-Fernández, John, pról. II. UNAM. Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades (México) III. Título IV. Colección.
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
	 				<span class="botonFichaCompleta">Ficha completa</span></a>
	 				<span class="botonPrecio">Precio: $ 600</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/portRepensarweb.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>912</strong></br>
						Título:<strong> (Re)pensar la ciudadanía en el siglo XXI</strong></br>
						Autor o Coordinador: 	<strong>Lucía Álvarez Enríquez</strong></br>
						Colección México y Democracia
						CEIICH-UNAM, coedición con Juan Pablos Editor, S. A.
						Año: 2019
						Páginas: 240 pp.
						ISBN: 978-607-30-1599-8
						Descriptores: Primera edición I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades: Juan Pablos Editor, 2019. I Serie: Colección México y democracia. LIBRUNAM 2036132 I ISBN: (UNAM) 978-607-30-1599-8 I ISBN (Juan Pablos Editor): 978-607-711-533-5 Ciudadanía – Filosofía. I Ciudadanía – Aspectos sociales. I Participación política I Ciudadanía mundial. LCC JF801.A58 I DDC 323-6—dc23.
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
	 				<span class="botonFichaCompleta">Ficha completa</span></a>
	 				<span class="botonPrecio">Precio: $ 240</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/PortIdentidadesWEBceiich.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Título:<strong> Identidades: Teorías y métodos para su análisis.</strong></br>
						Autor o Coordinador: 	<strong>Laura Loeza Reyes, Martha Patricia Castañeda Salgado</strong></br>
						Colección Debate y Reflexión
						Año: 2019
						Páginas: 172
						Descriptores: 1. Identidad colectiva. 2. Identidad de género. 3. Pluralismo cultural. 4. Cultura. I. Loeza Reyes, Laura, ed. II. Castañeda Salgado, Martha Patricia, ed. III. Ser

					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
	 				<span class="botonFichaCompleta">Ficha completa</span></a>
	 				<span class="botonAccesoAbierto">Acceso abierto</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/Asentamientos Urbanos.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>911</strong></br>
						Título:<strong>Asentamientos urbanos sustentables y resilientes: retos y oportunidades para la transformación urbana en California y Baja California</strong></br>
						Autor o Coordinador: 	<strong>Gian Carlo Delgado Ramos</strong></br>
						Colección Alternativas
						CEIICH-UNAM
						Año: 2019
						Páginas: 265 pp.
						ISBN: 978-607-30-1588-2
						Descriptores: LIBRUNAM 2036135 I ISBN: 978-607-30-1588-2 Desarrollo urbano sustentable – Baja California. I Desarrollo urbano sustentable – Estados Unidos – California – San Diego. I Resiliencia (Ecología) – Baja California- Tijuana. I Resiliencia (Ecología) – Estados Unidos – California – San Diego. I Urbanismo – Baja California – Tijuana I Urbanismo – Estados Unidos – California – San Diego. LCC HT243.M62.T553 2019 I DDC 363.707097253—dc23.

					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonAccesoAbierto">Acceso abierto</span>				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/IndusAutweb.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>910</strong></br>
						Título:<strong>Crisis y evolución de la industria automotriz en México. Localización de autopartes en Querétaro 1993-2014</strong></br>
						Autor o Coordinador: 	<strong>Selva Leonor Daville Landero</strong></br>
						Colección Debate y Reflexión
						Año: 2019
						Páginas: 260 pp.
						ISBN: 978-607-30-1534-9
						Descriptores: Daville Landero, Selva L. (Leonor), autor. Crisis y evolución de la industria automotriz en México: localización de autopartes en Querétaro, 1993-2014/Selva Leonor Daville Landero. Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2019. I Serie: Colección Debate y Reflexión. LIBRUNAM 2033878 I ISBN: 978-607-30-1534-9 Industria de autopartes – Querétaro. I Automóviles – Industria y comercio – Querétaro. I Automóviles – Industria y comercio – México - Aspectos económicos. LCC HD9710.3.M63.Q843 2019 I DDC 338.4762920972––dc23

					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/Corpografias.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>907</strong></br>
						Título:<strong>Corpografías desde las artes</strong></br>
						Autor o Coordinador: 	<strong>Cynthia Ortega Salgado, Maya Aguiluz Ibargüen y Pablo Hoyos González (coords.)</strong></br>
						Colección Ensamblar-nos
						CEIICH-UNAM, coedición con la Universidad Autónoma del Estado de México
						Año: 2018
						Páginas: 100 pp
						ISBN: 978-607-30-1159-4 impreso, 978-607-30-1514-1 electrónico

					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonAccesoAbierto">Acceso abierto</span>				</td>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/Port_Vejez_WEB.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>908</strong></br>
						Título:<strong>Calidad de vida en la vejez</strong></br>
						Autor o Coordinador: 	<strong>Margarita Maass Moreno y Virginia Reyes Audiffred (coords.)</strong></br>
						Alternativas
						CEIICH y la Secretaría de Desarrollo Social, ENEO-Seminario Universitario sobre Envejecimiento y Vejez
						Año: 2018
						Páginas: 154 pp
						ISBN: 978-607-30-1168-6
						Descriptores: Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2018. Identificadores: LIBRUNAM 2032641 I ISBN 9786073011686. Clasificación: LCC HV1451.C35 2018 I DDC 362.6 —dc23

					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/portArturoRose_web.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>909</strong></br>
						Título:<strong>Arturo Rosenblueth. Legado y vigencia de sus contribuciones</strong></br>
						Autor o Coordinador: 	<strong>María de la Paz Ramos Lara, Ricardo Lino Mansilla Corona y Rosa María Mendoza Rosas (coords.)</strong></br>
						Alternativas
						CEIICH y el Instituto Nacional de Cardiología “Ignacio Chávez”
						Año: 2019
						Páginas: 400 pp
						ISBN: 978-607-30-1547-9
						Descriptores: Ramos Lara María de la Paz, editor I Mansilla Corona Ricardo, editor I Mendoza Rosas, Rosa María, editor. Arturo Rosenblueth: legado y vigencia de sus contribuciones / María de la Paz Ramos Lara. Ricardo Lino Mansilla Corona, Rosa María Mendoza Rosas (Coordinadores). Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades: Instituto Nacional de Cardiología “Ignacio Chávez”, 2019. LIBRUNAM2033882 I ISBN 978-607-301547-9 ISBN 978-607-98424-1-3 Rosenblueth, Arturo, 1900-1970 – Biografía I Fisiólogos – México – Biografía LCC QP26.R67.A775 2019 I DDC 612.0093—dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 240</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/906.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong> 906</strong></br>
						Título:<strong>Sociología política del colapso climático antropogénico: capitalismo fósil, explotación de combustible no convencionales y geopolíticas de la energía</strong></br>
						Autor o Coordinador: 	<strong>John Saxe-Fernández</strong></br>
						Colección El Mundo Actual
						CEIICH
						Año: 2018
						ISBN: 978-607-30-0988-1
						Descriptores: Saxe-Fernández, John, editor. Sociología política del colapso climático antropogénico: capitalismo fósil, explotación de combustibles no convencionales y geopolítica de la energía / John Saxe-Fernández (coordinador). Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2018. I Serie: Colección El mundo actual: situación y alternativas. LIBRUNAM 2006939 I ISBN: 978-607-30-0988-1 Calentamiento global – Aspectos políticos. I Cambios climáticos – Aspectos ambientales. I Política ambiental. LCC QC981.8G56.S63 2018 I DDC 363.73874––dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/EstudAccEfectiva.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>905</strong></br>
						Título:<strong>El estudio de la acción social efectiva de las organizaciones. El caso de organizaciones de la sociedad civil en México</strong></br>
						Autor o Coordinador: 	<strong>Lucía Patricia Carrillo Velázquez</strong></br>
						Colección Debate y Reflexión
						CEIICH
						Año: 2019
						Páginas: 312 pp
						ISBN: 978-607-30-1096-2
						Descriptores: Carrillo Velázquez, Lucia Patricia, editor. El estudio de la acción social efectiva de las organizaciones: el caso de organizaciones de la sociedad civil en México / Lucía Patricia Carrillo Velázquez (coordinadora). Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2019 I Serie: Colección Debate y Reflexión.LIBRUNAM 2021620 I ISBN: 978-607-30-1096-2 Sociología organizacional I Organizaciones no gubernamentales – México – Aspectos sociológicos. I Organizaciones no lucrativas –México – Aspectos sociológicos.LCC HM786.E775 2018 I DDC 302.35––dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
					<span class="botonAccesoAbierto">Acceso abierto</span>				</td>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/CulturaImpresa.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>904</strong></br>
						Título:<strong>Cultura impresa y visualidad: tecnología gráfica, géneros y agentes editoriales</strong></br>
						Autor o Coordinador: 	<strong>Marina Garone Gravier y Mauricio Sánchez Menchero (coords.)</strong></br>
						Colección Debate y Reflexión
						CEIICH
						Año: 2019
						ISBN: 978-607-30-1243-0
						Descriptores: Garone Gravier, Marina, 1971-, editor. I Sánchez Menchero, Mauricio, editor. Cultura impresa y visualidad: tecnología gráfica, géneros y agentes editoriales / Marina Garone Gravier, Mauricio Sánchez Menchero (coordinadores). Primera edición. I México: Universidad Nacional Autónoma de México. Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2019. I Serie: Colección Debate y Reflexión. LIBRUNAM 2021617 I ISBN: 978-607-30-1243-0 Ilustración de libros. I Grabado. I Publicaciones periódicas ilustradas. I Diseño gráfico (Tipografía). I Imprenta- Historia. LCC Z1023.C85 2018 I DDC 016.0961—dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/Portada Inclusion.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>901</strong></br>
						Título:<strong>Inclusión del análisis de género en la ciencia</strong></br>
						Autor o Coordinador: 	<strong>Norma Blazquez Graf y Ana Celia Chapa Romero (coordinadoras)</strong></br>
						Colección Alternativas
						Año: 2018
						Páginas: 188 pp
						ISBN: 978-607-30-1234-8
						Descriptores: Blazquez Graf, Norma, editor I Chapa Romero, Ana Celia, editor. Inclusión del análisis de género en la ciencia / Norma Blazquez Graf, Ana Celia Chapa Romero (coordinadoras). Primera edición. I Ciudad de México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades: Red Mexicana de Ciencia, Tecnología y Género; Puebla, Puebla: Benemérita Universidad Autónoma de Puebla, 2018. I Serie: Colección Alternativas. LIBRUNAM 2021438 (impreso) LIBRUNAM 2021611 (libro electrónico) I ISBN 978-607-30-1234-8 Mujeres en la ciencia. I Mujeres en la tecnología. I feminismo y ciencia. LCC Q130.153 2018 (impreso) I LCC Q130 (libro electrónico) I DDC 500.82––dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
					<span class="botonAccesoAbierto">Acceso abierto</span>				</td>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/La-disputa_forros_14dic.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>903</strong></br>
						Título:<strong>La disputa por el derecho: la globalización hegemónica vs la defensa de los pueblos y grupos sociales</strong></br>
						Autor o Coordinador: 	<strong>Aleida Hernández Cervantes y Mylai Burgos Matamoros</strong></br>
						Colección Pública Social
						Año: 2018
						ISBN: 978-607-30-0968-3
						Descriptores: Descriptores La disputa por el derecho: la globalización hegemónica vs la defensa de los pueblos y grupos sociales / Aleida Hernández Cervantes y Mylai Burgos Matamoros, coordinadoras. Ciudad de México: UNAM; Bonilla Artigas Editores, 2018 596 pp. ; 15 x 23 cm. – (Colección Pública Social; 27) ISBN: 978-607-8560-66-0 (Bonilla Artigas Editores) ISBN: 978-607-30-0968-3 (UNAM) 1. Política económica – América Latina. 2. Globalización I. Hernández Cervantes, Aleida, coord. II. Burgos Matamoros, coord. LCC HC123 DEWEY: 338.98
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/Portada Federico web.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Título:<strong>Fundamentos del enfoque territorial: actores, dimensiones, escalas espaciales y sus niveles</strong></br>
						Autor o Coordinador: 	<strong>Federico Morales Barragán y Fredy Jiménez López</strong></br>
						Colección Alternativas
						CEIICH
						Año: 2018
						Páginas: 93
						ISBN: 978-607-30-1245-4
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonAccesoAbierto">Acceso Abierto</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/PortTalanoa_ingles.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Título:<strong> Mexican Talanoa Dialogue</strong></br>
						Autor o Coordinador: 	<strong>Gian Carlo Delgado Ramos, Maryke van Staden y Edgar Villaseñor Franco</strong></br>
						Colección Alternativas
						Año: 2018
						Páginas: 47
						ISBN: 978-607-30-1378-9
						DOI: https://doi.org/10.22201/ceiich.9786073013789e.2018
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonAccesoAbierto">Acceso Abierto</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/PortadaMonologo.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>894</strong></br>
						Título:<strong>Del monólogo europeo al diálogo inter-filosófico ensayos sobre Enrique Dussel y la filosofía de la liberación</strong></br>
						Autor o Coordinador: 	<strong>José Guadalupe Gandarilla Salgado y Mabel Moroña</strong></br>
						Colección Debate y Reflexión
						CEIICH-UNAM
						Año: 2018
						Páginas: 448 pp
						ISBN: 978-607-30-1073-3
						Descriptores: Del monólogo europeo al diálogo inter-filosófico: ensayos sobre Enrique Dussel y la filosofía de la liberación / José Guadalupe Gandarilla Salgado, Mabel Moroña (coordinadores). Primera edición. I México : Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2018 I Serie: Colección debate y reflexión, 448 páginas. LCC B1034.D871.D45 2018 I DDC 199.82---dc23 LIBRUNAM 2017319
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 240</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/692ENP.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>895</strong></br>
						Título:<strong>La Escuela Nacional Preparatoria. Un sistema complejo adaptativo</strong></br>
						Autor o Coordinador: 	<strong>María de la Paz Ramos Lara</strong></br>
						Colección Ciencia y Tecnología en la Historia de México
						CEIICH
						Año: 2018
						Páginas: 116 pp
						ISBN: 978-607-30-0841-9
						Descriptores: Descriptores: Ramos Lara, María de la Paz, autor. La Escuela Nacional Preparatoria, un sistema complejo adaptativo / María de la Paz Ramos Lara. Primera edición I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2018. I Serie: Colección Ciencia y Tecnología en la Historia de México LIBRUNAM 2006936 I ISBN 978-607-30-0841-9 Universidad Nacional Autónoma de México. Escuela Nacional Preparatoria – Historia. LCC LE7.M522.R35 2018 I DDC 378.72––dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/port_ModernidadDerecho.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>898</strong></br>
						Título:<strong>Modernidad y derecho en América Latina: Acumulación capitalista, desarrollo, naturaleza y movimientos sociales contrahegemónicos</strong></br>
						Autor o Coordinador: 	<strong>María Eugenia Alvarado Rodríguez</strong></br>
						Colección Debate y Reflexión
						CEIICH-UNAM
						Año: 2018
						Páginas: 400 pp
						ISBN: 978-607-30-1050-4
						Descriptores: Descriptores: Alvarado Rodríguez, María Eugenia, editor. Modernidad y derecho en América Latina: acumulación capitalista, desarrollo, naturaleza y movimientos sociales contrahegemónicos / María Eugenia Alvarado Rodríguez, (coordinadora). Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2018 I Serie: Colección debate y reflexión. LIBRUNAM 200364 I ISBN: 978-607-30-1050-4 Derechos constitucional -- América Latina. I Derechos humanos – América Latina. I Desarrollo económico – América Latina. I América Latina – Condiciones Sociales. LCC KG548.M63 2018 I DDC 342––dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 240</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/noEstaMu.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>897</strong></br>
						Título:<strong> ¡No está muerto quien pelea! Homenaje a la obra de Rolando V. García Boutigue</strong></br>
						Autor o Coordinador: 	<strong>Jorge A. González</strong></br>
						Colección Alternativas
						CEIICH
						Año: 2018
						Páginas: 346 pp.
						ISBN: 978-607-30-1099-3
						Descriptores: González Sánchez, Jorge A., editor. ¡ No está muerto quien pelea! : homenaje a la obra de Rolando V. García Boutigue / Jorge A. González (coordinador). Primera edición. I México : Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2018. I Serie: Colección alternativas. LIBRUNAM 2021641 I ISBN: 978-607-30-1099-3 GARCÍA, ROLANDO VÍCTOR, 1919-2012. I Teoría de sistemas. I Ciencia – Filosofía. I Teoría del conocimiento. LCC Q295.N6 2018 I DDC 003––dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/899Derechos.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">

						Clave:<strong>899</strong></br>
						Título:<strong>Derechos humanos y violencia en México</strong></br>
						Autor o Coordinador: 	<strong>Laura Loeza Reyes y Analiese Richard</strong></br>
						Colección Alternativas
						CEIICH
						Año: 2018
						Páginas: 212 pp
						ISBN: 978-607-30-1244-7
						Descriptores: Descriptores: Loeza Reyes, Laura editor I Richard, Analiese, editor. Derechos humanos y violencia en México / Laura Loeza Reyes, Analiese Richard (coordinadoras). Primera edición. I México : Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2018. I Serie: Colección Alternativas. LIBRUNAM 2021623 I ISBN: 978-607-30-1244-7 Derechos humanos –– México. I Violencia política – México. I Corrupción –México. LCC JC599.M6.D478 2018 I DDC 323––dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 240</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/896Peppers.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>896</strong></br>
						Título:<strong>A medio siglo del Sargent Pepper’s Lonely Hearts Club Band: Una Reflexión profunda sobre la contracultura de los años sesenta del siglo XX</strong></br>
						Autor o Coordinador: 	<strong>Julio Muñoz Rubio</strong></br>
						Colección Alternativas
						CEIICH-UNAM
						Año: 2018
						ISBN: 978-607-30-1012-2
						Descriptores: Muñoz Rubio, Julio (coordinador). A medio siglo del Sargent Pepper’s Lonely Hearts Club Band : una reflexión profunda sobre la contracultura de los años sesenta del siglo XX/Julio Muñoz Rubio (coordinador). Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2018. I Serie: Colección alternativas. LIBRUNAM 2016157 I ISBN Beatles. Sgt. Pepper’s Lonely Hearts Club Band. I Beatles—Influencia. I Rock (Música)--Aspectos sociales. I Grupo de rock – Inglaterra – Discografía. I Movimientos juveniles – Historia – Siglo XX.
						LCC ML421.B4.A54 2018 I DDC 782.421660922––dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
					<span class="botonAccesoAbierto">Acceso Abierto</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/legorreta-portada-web.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">

						Clave:<strong>893</strong></br>
						Título:<strong>Religión, política y guerrilla en Las Cañadas de la Selva Lacandona</strong></br>
						Autor o Coordinador: 	<strong> María del Carmen Legorreta Díaz</strong></br>
						Colección Alternativas
						CEIICH-UNAM. Segunda edición 2018
						Año: 2018
						Páginas: 300 pp
						ISBN: : 978-607-30-0793-1
						Descriptores: Chiapas -- Política y gobierno – Siglo XX. I Unión de Uniones (México) I Indios de México – Chiapas – Relaciones gubernamentales. I Ejército Zapatista de Liberación Nacional (México). I Religión y política – Chiapas – Historia – Siglo XX. I Selva Lacandona (México)-Historia. F1256.L445 2018 I DDC 972.75—dc23 LIBRUNAM 2004325
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 240</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/PortBioEvo.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>892</strong></br>
						Título:<strong>La biología evolutiva contemporánea: ¿Una revolución más en la ciencia?</strong></br>
						Autor o Coordinador: 	<strong>Julio Muñoz Rubio (coordinador)</strong></br>
						Debate y reflexión
						CEIICH-UNAM
						Año: 2018
						Páginas: 488 PP
						ISBN: 978-607-30-0945-4
						Descriptores: LIBRUNAM 2006932 I ISBN Evolución (biología) – Historia I Evolución (Biología) – Filosofía LCC QH 361.B57 2018 I DCC 576.8—dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 344</span>
					<span class="botonAccesoAbierto">Acceso Abierto</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/Port_Jovenes_web.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>891</strong></br>
						Título:<strong>Jóvenes y espacio público</strong></br>
						Autor o Coordinador: 	<strong>Jahel López Guerreo, Marcela Meneses Reyes (coords.)</strong></br>
						Alternativas
						CEIICH
						Año: 2018
						ISBN: 978-607-30-0809-9
						Descriptores: LIBRUNAM 2006933 I ISBN 978-607-30-0809-9 Juventud —México— Condiciones sociales. I Juventud rural —México— Condiciones sociales. I Inmigrantes —México— Condiciones sociales. I Espacios públicos - México. LCC HQ799.M4.J696 2018 DDC 305.2350972—dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 240</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/portDig_Talanoa.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Título:<strong>Diálogo Mexicano de Talanoa</strong></br>
						Autor o Coordinador: 	<strong>Gian Carlo Delgado Ramos, Maryke van Staden y Edgar Villaseñor Franco</strong></br>
						Alternativas
						Año: 2018
						Páginas: 47
						ISBN: 978-607-30-0947-8
						DOI: http://dx.doi.org/10.22201/ceiich.9786073009478e.2018
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonAccesoAbierto">Acceso Abierto</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/vegaM.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Título:<strong>La CDMX ante las Recomendaciones de la CEDAW</strong></br>
						Autor o Coordinador: 	<strong>Aimée Vega Montiel (coordinadora)</strong></br>
						Sin colección
						Coedición
						Año: 2018
						Páginas: 144
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonAccesoAbierto">Acceso Abierto</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/Poblacion-rural (1).jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>886</strong></br>
						Título:<strong>Empleo, capacitación y jóvenes rurales de México</strong></br>
						Autor o Coordinador: 	<strong>Enrique contreras Suárez, Felipe Contreras Molotla (coords.)</strong></br>
						Alternativas
						CEICH-UNAM
						Año: 2018
						Páginas: 252 pp
						ISBN: 978-607-30-0464-0
						Descriptores: 1. Juventud rural – Empleo – México. 2. Juventud rural – Educación – México. 3. Juventud rural – Empleo – Política gubernamental. 4. Jóvenes en comunidades rurales – México. 5. Juventud rural – México – Condiciones sociales. I. Contreras Suárez, Enrique, editor. II. Contreras Molotla, Felipe, editor III. Serie.
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/portada-cuentos-comunicantes.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong> 885</strong></br>
						Título:<strong>Cuentos comunicantes</strong></br>
						Autor o Coordinador: 	<strong>Aquiles Negrete Yankelevich</strong></br>
						Sin colección
						CEIICH-UNAM
						Año: 2018
						Páginas: 136 pp
						ISBN: 978-607-30-0175-5
						Descriptores: Primera edición. I México: Universidad Nacional Autónoma de México, Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades, 2018. Identificadores: LIBRUNAM 1999773 I 9786073001755 Temas: Comunicación científica. I Literatura y ciencia Clasificación: LCC Q223.N44 2018 / DDC 501.4-dc23
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 240</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/Port_LeerCapital.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>881</strong></br>
						Título:<strong>Leer el capital, teorizar la política: contrapunteo de la obra de Enrique Dussel y Bolívar Echeverría en tres momentos.</strong></br>
						Autor o Coordinador: 	<strong>Jaime Ortega Reyna</strong></br>
						Colección El Mundo Actual: Situación y Alternativas
						CEIICH-UNAM
						Año: 2018
						Páginas: 288 pp
						ISBN: 978-607-30-0363-6
						Descriptores: 1. Marx, Karl, 1818-1883. 2. Echeverría, Bolívar. 3. Dussel, Enrique. I. Título. II. Serie. B3305.M74.O77 2018 LIBRUNAM 1982831
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 600</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/LA-PENALIDAD-FEMENINA.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>888</strong></br>
						Título:<strong>La penalidad femenina</strong></br>
						Autor o Coordinador: 	<strong> Pablo Hoyos González, Maya Aguiluz Ibargüen, Cynthia Ortega Salgado</strong></br>
						Colección Ensamblar-nos
						CEIICH-UNAM, coedición con la Universidad Autónoma del Estado de México
						Año: 2018
						Páginas: 320 pp
						ISBN: 978-607-30-0427-5 impreso 978-607-30-1513-4 electrónico
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 240</span>
					<span class="botonAccesoAbierto">Acceso Abierto</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("novedades/Entre-cronos-y-kairos.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Título:<strong>Entre cronos y kairós. Las formas del tiempo sociohistórico</strong></br>
						Autor o Coordinador: 	<strong>Guadalupe Valencia García</strong></br>
						Sin colección
						CEIICH-UNAM
						Año: 2018
						Páginas: 250 pp.
						Descriptores: Tiempo, Filosofía, Aspectos sociales, Ceiich, Historia
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonAccesoAbierto">Acceso Abierto</span>
				</td>
			</tr>
			<tr>
				<td class= "novedades-img"> <%= image_tag("novedades/PortAntoPen.jpg",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
						Clave:<strong>877</strong></br>
						Título:<strong>Antología del pensamiento crítico mexicano contemporáneo</strong></br>
						Autor o Coordinador: 	<strong>Elvira Concheiro Bórquez, Alejandro Fernando González Jiménez, Aldo A. Guevara Santiago, Jaime Ortega Reyna y Víctor Hugo Pacheco Chávez</strong></br>
						Antologías
						CEIICH-UNAM.- COEDICIÓN CON CLACSO
						Año: 2018
						Páginas: 420 pp
						ISBN: 978-607-30-0083-3
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<span class="botonFichaCompleta">Ficha completa</span></a>
					<span class="botonPrecio">Precio: $ 240</span>
				</td>
				<td class= "novedades-img"> <%= image_tag("",class: "col-img")%></td>
				<td class="novedades-txt">
					<div class="col-texto">
					</div><br>
					<a onclick="modal.requestDataById('/0/51LibFic.php', modal.template.libros, 698);" style="cursor: pointer;">
					<!--span class="botonFichaCompleta"--><!--/span></a-->
					<!--span class="botonPrecio"--><!--/span-->
				</td>
			</tr>
		</table>
	</div>

</div>
