<link href="10000000.css" rel="stylesheet" type="text/css" title="normal"/>
<link href="20000000.css" rel="stylesheet" type="text/css" title="normal"/>
<link href="30000000.css" rel="stylesheet" type="text/css" title="normal"/>

<div class="contenedor">
  <div class="titulos">
    <span class="btnActivo">
      <h2 class: "libros"><%=fa_icon('film',class: 'fas fa-film icon-libro')%> Videos</h2>
    </span>
    </div>
    <div class="subtitulos">
      <p><span>Colecciones</span></p>
    </div>

    <div class="contenido">
      <p align="left"><%=fa_icon('images',class: 'fas fa-images icon-publicacion')%><%= link_to "   Aprender a Aprender",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'far fa-images icon-publicacion')%><%= link_to "   Clásicos",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'fas fa-images icon-publicacion')%><%= link_to "   Conceptos",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'far fa-images icon-publicacion')%><%= link_to "   Diversidad feminista",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'fas fa-images icon-publicacion')%><%= link_to "   Educación Superior",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'far fa-images icon-publicacion')%><%= link_to "   Las Ciencias y las humanidades en los umbrales del siglo XXI",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'fas fa-images icon-publicacion')%><%= link_to "   Feminismo y Alternativas Sociales",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'far fa-images icon-publicacion')%><%= link_to "   Holocaustos",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'fas fa-images icon-publicacion')%><%= link_to "   Los Mitos de la Melancolía",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'far fa-images icon-publicacion')%><%= link_to "   Saber y poder. Las Directoas de la UNAM",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'fas fa-images icon-publicacion')%><%= link_to "   Sin Colección Ediciones del CEIICH",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'far fa-images icon-publicacion')%><%= link_to "   Trayectorias Académicas",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'fas fa-images icon-publicacion')%><%= link_to "   Trayectorias Académicas Cubanas",root_path,class: "link-videos"%></p>
      <p align="left"><%=fa_icon('images',class: 'far fa-images icon-publicacion')%><%= link_to "   Voces del CEIICH",root_path,class: "link-videos"%></p>

    </div>
</div>
