<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @medio_video.url %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @medio_video.fecha %>
</p>

<%= link_to 'Edit', edit_medio_video_path(@medio_video) %> |
<%= link_to 'Back', medio_videos_path %>
