
<br>
    <div class="mx-auto col-md-6 col-12">
  <%= form_with(model: @publicacion, local: true,builder: BootstrapFormBuilder) do |form| %>
      <%= render "partials/error_form", :modelo => @publicacion%>
      <div class="row">
          <%= form.label :publicacion %>
          <%= form.select :libro_id,options_from_collection_for_select(Libro.all, :id, :titulo)%>
      </div>
      <div class="row">
        <%= form.label :programa %>
        <%= form.select :programa_id,options_from_collection_for_select(Programa.all, :id, :nombre) %>
      </div>
      <div class="row">
        <%= form.submit %>
      </div>
      <% end %>
    </div>
