<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
      Posgrado
    </span>
  </div>
  <%= link_to "Posgrado", "/docencia/actividadesDocentes", class:"btn btnActivo" %>
  <%= link_to "Educación Continua", "/docencia/educacionContinua", class:"btn btnNoActivo" %>
  <br><br>
  <div class="divTabla">
    <div>
      <div class="derecha">
          <%= image_tag "docencia/estudios_latinoamericanos.png"%>
      </div><br>
      <div class="derecha">
          <%= image_tag "docencia/trabajo_social.png"%>
      </div><br>
      <div class="derecha">
        <%= image_tag "docencia/logoUniversita.png" %>
      </div><br>
      <div class="derecha">
        <%= image_tag "docencia/gemma.png" %>
      </div><br>
      <div class="derecha">
        <%= image_tag "docencia/univGranada.png"%>
      </div><br>
      <div class="derecha">
        <%= image_tag "docencia/univBolonia.png" %>
      </div><br>

    </div>
    <div style="margin:5%">
      <span class="subtitulo">
          <font color="#CC6633">Posgrado en la UNAM</font>
      </span><br><br>
      <p align="justify">El CEIICH forma parte de los comit&eacute;s acad&eacute;micos del Programa de Posgrado en Estudios Latinoamericanos y del Programa de Maestr&iacute;a en Trabajo Social. Ha elaborado la solicitud para que el Centro sea considerado como entidad acad&eacute;mica participante en el Programa de Posgrado en Ciencias Pol&iacute;ticas y Sociales, y presentado una propuesta de Plan de Maestr&iacute;a y Doctorado en Estudios de G&eacute;nero Feministas, ante la Coordinaci&oacute;n General de Posgrado de la UNAM. <br />
      Adicionalmente, en colaboraci&oacute;n con la Universidad de Coahuila se cre&oacute; el   Doctorado en Ciencias y Humanidades        para el Desarrollo Interdisciplinario. </p>
      <br><br><br>
      <span class="subtitulo">
          <font color="#CC6633">Posgrado en la UNAM</font>
      </span><br><br>
       <p align="justify">En el &aacute;mbito internacional, fue aprobada la adhesi&oacute;n del CEIICH en dos M&aacute;ster <em> Erasmus Mundus </em>, el de T&eacute;cnicas, Patrimonio y Territorios de la Industria (TPTI), en el que participan la Universidad Panthe&oacute;n Sorbona de Par&iacute;s (Francia, coordinadora), la Universidad de Padua (Italia) y la Universidad de Evora (Portugal); y el de Estudios de las Mujeres y de G&eacute;nero (GEMMA), en el que participan ocho universidades de siete pa&iacute;ses de Europa: la Universidad de Granada (Espa&ntilde;a, coordinadora), Universidad de Bolonia (Italia), Universidad Central Europea de Budapest (Hungr&iacute;a), Universidad de Hull (Reino Unido), Institutum Studiorum Humanitatis (Eslovenia), Universidad de Lodz (Polonia), Universidad de Oviedo (Espa&ntilde;a) y Universidad de Utrecht (Pa&iacute;ses Bajos). Página web: <%=link_to "http://ec.europa.eu/education/external-relation-programmes/mundus_en.htm","http://ec.europa.eu/education/external-relation-programmes/mundus_en.htm",target:"_blank",class:"link"%></p>
    </div>
  </div>
</div>
