<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
      Posgrado
    </span>
  </div>
  <br>
  <%= link_to "Posgrado", "/docencia/actividadesDocentes", class:"btn btnNoActivo" %>
  <%= link_to "Educación Continua", "/docencia/educacionContinua", class:"btn btnActivo" %>
  <br><br>
  <div class="divTitulo">
    <span class="subtitulo">
      <font color="#CC3333"><strong>Diplomados del CEIICH</strong></font>
    </span><br>

  </div>
  <div class="divTitulo">
    <span class="subtitulo">
      DIPLOMADO DE ACTUALIZACIÓN PROFESIONAL EN INVESTIGACIÓN INTERDISCIPLINARIA
    </span>
  </div><br>
  <div>

    <p align="justify"><strong>Objetivos:</strong> Proporcionar la informaci&oacute;n b&aacute;sica  sobre las dimensiones te&oacute;ricas y anal&iacute;ticas de la investigaci&oacute;n  interdisciplinaria en el marco de las discusiones epistemol&oacute;gicas  contempor&aacute;neas. Mostrar la riqueza y potencialidad de esta perspectiva de  an&aacute;lisis. Lograr que quienes egresen del diplomado sean capaces de referirse a  la investigaci&oacute;n interdisciplinaria de manera fundamentada y puedan evaluar y  desarrollar investigaciones interdisciplinarias.&nbsp;</p>
    <p><strong>Profesorado:</strong> Personal docente del CEIICH y docentes invitados, nacionales y extranjeros. </p>
    <p  align="justify"><strong>P&uacute;blico:</strong> El Diplomado est&aacute; dirigido a  estudiantes, personal docente y de investigaci&oacute;n en instituciones de educaci&oacute;n,  as&iacute; como a integrantes de los sectores p&uacute;blico y privado, interesados en  ampliar su conocimiento sobre la investigaci&oacute;n interdisciplinaria y en  desarrollar sus habilidades para la realizaci&oacute;n y evaluaci&oacute;n de investigaciones  interdisciplinarias</p>
    <p><strong>Costo:</strong> $12, 000 </p>

      <%= image_tag "docencia/inter-02.jpg", width:"300" %>
      <%= image_tag "docencia/inter-11.jpg", width:"300" %>
  </div>
</div>
  <div class="cajaDelTituloDeLaPagina">

    <span class="nombrePagina">Posgrado</span

  </div>
  	<div class="personal">
      <span class=" btnNoActivo">
        <%= link_to "Posgrado", "/docencia/actividadesDocentes" %>
      </span>
      <span class="b btnActivo">
        <%= link_to "Educación Continua", "/docencia/educacionContinua" %>
      </span>
    </div>

    <div class="cajaParaElContenido">
      <table width="85%"  border="0" align="center">
        <tr>
          <td height="370" valign="top">
            <p>&nbsp;</p>
            <p><font color="#CC3333"><strong>Diplomados del CEIICH</strong></font></p>
            <p><span class="titulosAcercaDelCeiich">DIPLOMADO  DE ACTUALIZACI&Oacute;N PROFESIONAL EN INVESTIGACI&Oacute;N INTERDISCIPLINARIA</span> </p>
            <p align="justify"><strong>Objetivos:</strong> Proporcionar la informaci&oacute;n b&aacute;sica  sobre las dimensiones te&oacute;ricas y anal&iacute;ticas de la investigaci&oacute;n  interdisciplinaria en el marco de las discusiones epistemol&oacute;gicas  contempor&aacute;neas. Mostrar la riqueza y potencialidad de esta perspectiva de  an&aacute;lisis. Lograr que quienes egresen del diplomado sean capaces de referirse a  la investigaci&oacute;n interdisciplinaria de manera fundamentada y puedan evaluar y  desarrollar investigaciones interdisciplinarias.&nbsp;</p>
            <p><strong>Profesorado:</strong> Personal docente del CEIICH y docentes invitados, nacionales y extranjeros. </p>
            <p  align="justify"><strong>P&uacute;blico:</strong> El Diplomado est&aacute; dirigido a  estudiantes, personal docente y de investigaci&oacute;n en instituciones de educaci&oacute;n,  as&iacute; como a integrantes de los sectores p&uacute;blico y privado, interesados en  ampliar su conocimiento sobre la investigaci&oacute;n interdisciplinaria y en  desarrollar sus habilidades para la realizaci&oacute;n y evaluaci&oacute;n de investigaciones  interdisciplinarias</p>
            <p><strong>Costo:</strong> $12, 000 </p>

              <%= image_tag "docencia/inter-02.jpg", width:"300" %>&nbsp;&nbsp;&nbsp;<%= image_tag "docencia/inter-11.jpg", width:"300" %>

            <br/>
            <br/>
            <p><span class="titulosAcercaDelCeiich">DIPLOMADO  INTERNACIONAL DE ACTUALIZACI&Oacute;N PROFESIONAL LOS DESAF&Iacute;OS DEL FEMINISMO EN  AM&Eacute;RICA LATINA&nbsp;</span></p>
            <p align="justify"><strong>Objetivos:</strong> Consolidar la formaci&oacute;n de especialistas en la teor&iacute;a y  metodolog&iacute;a feminista. Apoyar los procesos de formaci&oacute;n de investigadoras e  investigadores especializados en la aplicaci&oacute;n de la perspectiva de g&eacute;nero.&nbsp; </p>
            <p><strong>Profesorado:</strong> Personal docente del CEIICH y docentes invitadas nacionales y extranjeras.</p>
            <p align="justify"><strong>P&uacute;blico:</strong> Las y los aspirantes ser&aacute;n egresadas/os  de alguna licenciatura, maestr&iacute;a o doctorado de cualquier universidad de  Iberoam&eacute;rica que tenga reconocimiento oficial y est&eacute;n interesadas/os en  realizar investigaci&oacute;n o intervenci&oacute;n con perspectiva de g&eacute;nero feminista,  pueden ser: estudiantes, personal acad&eacute;mico, funcionarios/as o integrantes de  organizaciones civiles.&nbsp;</p>
            <p><strong>Costo:</strong> $12, 000</p>
            <p>&nbsp;</p>

              <%= image_tag "docencia/femilismo02.jpg", width:"300" %>&nbsp;&nbsp;&nbsp;<%= image_tag "docencia/femilismo015.jpg", width:"300" %>
              <br />
              <br />

            <p><strong><font color="#CC3333">Diplomados en colaboraci&oacute;n con otras  entidades acad&eacute;micas</font></strong></p>
            <p><span class="titulosAcercaDelCeiich">DIPLOMADO  INTERNACIONAL EN PSICODRAMA&nbsp; (Escuela Mexicana de  Psicodrama y Sociometr&iacute;a)</span></p>
            <p align="justify"><strong>Objetivo:</strong> Las y los participantes adquirir&aacute;n conocimientos te&oacute;ricos y  vivenciales de la metodolog&iacute;a del psicodrama aplicado al &aacute;mbito cl&iacute;nico,  educativo, empresarial/institucional y comunitario.&nbsp;</p>
            <p><strong>Profesorado:</strong> Personal docente de la  Escuela Mexicana de Psicodrama y Sociometr&iacute;a y docentes nacionales y&nbsp; extranjeros invitados.</p>
            <p><strong>P&uacute;blico:</strong> Estudiantes con licenciatura/pasant&iacute;a de cualquier carrera  universitaria o equivalentes.</p>

              <%= image_tag "docencia/psico-04.jpg", width:"300" %>&nbsp;&nbsp;&nbsp;<%= image_tag "docencia/psico-03.jpg", width:"300" %>
              <br/>
              <br/>

            <p><span class="titulosAcercaDelCeiich">DIPLOMADO  DE ESPECIALIZACI&Oacute;N EN ESTUDIOS DE G&Eacute;NERO (Fundaci&oacute;n Guatemala)</span></p>
            <p align="justify"><strong>Objetivo:</strong> Formar recursos humanos calificados con el nivel de  especializaci&oacute;n requerido para el an&aacute;lisis, discusi&oacute;n, investigaci&oacute;n y  aplicaci&oacute;n de la perspectiva de g&eacute;nero feminista para fortalecer los  movimientos sociales de las mujeres y responder a la demanda de organizaciones  gubernamentales, no gubernamentales, organismos internacionales y agencias  cooperantes con inter&eacute;s en la aplicaci&oacute;n de la perspectiva de equidad de g&eacute;nero  y teor&iacute;a feminista en sus pol&iacute;ticas, programas y proyectos.&nbsp;</p>
            <p><strong>Profesorado:</strong> Docentes latinoamericanas y  espa&ntilde;olas. </p>
            <p align="justify"><strong>P&uacute;blico:</strong> Mujeres guatemaltecas y de diferentes  nacionalidades con experiencia y conocimientos previos en el tema de g&eacute;nero y  que se desempe&ntilde;en en programas y proyectos de desarrollo a nivel de gobiernos,  sociedad civil o agencias de cooperaci&oacute;n.</p>
            <p align="justify"><strong>Costo:</strong> Para estudiantes guatemaltecas: US $2,626.00 Para estudiantes extranjeras: US  $3,094.00 Estos pagos est&aacute;n divididos de la siguiente manera: Inscripci&oacute;n: estudiantes  guatemaltecas, US $221.00 y estudiantes extranjeras, US $221.00. 12 Mensualidades: estudiantes guatemaltecas, US  $182.00 y estudiantes extranjeras, US $221.00. Pago de titulaci&oacute;n y certificaci&oacute;n, estudiantes guatemaltecas,  US $221.00, y estudiantes extranjeras,  US $221.00. </p>

            <%= image_tag "docencia/taller-01.jpg", width:"300" %>
            <p align="center">&nbsp;</p>
            <p><span class="titulosAcercaDelCeiich">DIPLOMADO  LA DIMENSI&Oacute;N AMBIENTAL EN EL DISE&Ntilde;O Y LA EJECUCI&Oacute;N DE POL&Iacute;TICAS P&Uacute;BLICAS  (Coordinado por el Programa Universitario de Medio Ambiente de la UNAM)</span></p>
  <p align="justify"><strong>Objetivo:</strong> Este Diplomado se construye como un  espacio profesional transdisciplinario de actualizaci&oacute;n y profundizaci&oacute;n en los  conceptos y ciencias involucradas en la tem&aacute;tica ambiental, con el fin de  ubicar los paradigmas ambientales modernos en la planeaci&oacute;n, dise&ntilde;o y  evaluaci&oacute;n de acciones pol&iacute;ticas ambientales para la construcci&oacute;n de un pa&iacute;s  incluyente, diverso y sustentable.</p>
                  <p><strong>Personal  docente:</strong> Docentes de la UNAM,  de otras instancias acad&eacute;micas, organismos internacionales y organizaciones de  la sociedad civil. </p>
                  <p align="justify"><strong>P&uacute;blico:</strong> Dirigido a tomadoras y tomadores  de decisiones del sector p&uacute;blico y privado, a organizaciones no  gubernamentales, as&iacute; como a integrantes de la sociedad interesados en  actualizar sus conocimientos y profundizar en los conceptos y herramientas para  el an&aacute;lisis de la problem&aacute;tica ambiental.</p>
                  <p><strong>Costo:</strong> $20, 000 pesos.</p>

                  <%= image_tag "docencia/inter-12.jpg", width:"300" %>
                  <p align="center">&nbsp;</p>
                  <p ><span class="titulosAcercaDelCeiich">DIPLOMADO:&nbsp;MEDICINA Y CIENCIAS DE LA COMPLEJIDAD (Facultad de Medicina de la UNAM, el Centro de Ciencias de la Complejidad  (C3) y la Comisi&oacute;n Coordinadora de Institutos Nacionales de Salud y Hospital de  Alta Especialidad )</span></p>
                  <p align="justify"><strong>Objetivos:</strong> Revisar  algunos de los problemas m&aacute;s relevantes y significativos en la ciencia m&eacute;dica. Revisar  los paradigmas de la ciencia en general y de la medicina para ubicar la  situaci&oacute;n actual. Conocer los conceptos fundamentales de ciencia  de la complejidad y las posibilidades de analog&iacute;a en medicina. Presentar  el soporte matem&aacute;tico actual de ciencia de la complejidad y evaluar  aplicaciones en la ciencia m&eacute;dica. Presentar los fundamentos de teor&iacute;a de redes y  de c&oacute;mputo. Presentaci&oacute;n de modelos. Intercambiar  conocimiento y experiencias con cient&iacute;ficos dedicados a ciencias de la materia  y la vida, c&oacute;mputo y matem&aacute;ticas. Presentar propuestas de trabajo  interdisciplinario para problemas en salud. </p>
                  <p align="justify"><strong>Profesorado:</strong> Personal docente de la UNAM y docentes invitados, nacionales y extranjeros. </p>
                  <p align="justify"><strong>P&uacute;blico:</strong> M&eacute;dicos, matem&aacute;ticos, f&iacute;sicos,  bi&oacute;logos, biom&eacute;dicos y ramas afines interesados en investigaci&oacute;n, ense&ntilde;anza y  soluci&oacute;n de la problem&aacute;tica de salud en sus diversas &aacute;reas.</p>
  <p><strong>Costo: </strong>Sin costo</p>
                  <p><!--<p>&nbsp;</p>
                  <p>Falta. DIPLOMADO ECOLOG&Iacute;A POL&Iacute;TICA Y  METABOLISMO SOCIAL (En colaboraci&oacute;n con la Universidad Aut&oacute;noma de Ciudad  Ju&aacute;rez) *Solicitamos la informaci&oacute;n en cuanto nos la manden, te avisamos.</p>
                  <p>Falta.DIPLOMADO: CIUDAD, SEGURIDAD Y  PARTICIPACI&Oacute;N CIUDADANA (Coordinado por el Programa Universitario de Estudios  sobre la Ciudad) *Solicitamos la informaci&oacute;n en cuanto nos la manden, te  avisamos.</p>

                 -->                </p>
                  <strong>
                    <%= image_tag "docencia/diploMedi02.jpg", width:"300" %>&nbsp;&nbsp;&nbsp;<%= image_tag "docencia/diploMedi01.jpg", width:"300" %></strong>

                    <p>&nbsp;</p>
                    <strong>
                    <hr width="350" />
                    </strong>
                    <p>&nbsp;</p>
                    <p><strong>                  Red de Educaci&oacute;n Continua de la UNAM  (REDEC).                  </strong><a href="http://redec.unam.mx/" target="_blank">http://redec.unam.mx/</a>


                      </p>
                    </p>
      <p align="center"><%= link_to (image_tag "docencia/redDEC.jpg"), "http://redec.unam.mx", target:"_blank" %></p></td>
                  <!-- FIN DEL CONTENIDO  /////////////////////////////////////////////////////////////////////////////////////////////////////-->

    </tr>
  </table>
  <br /><br />

  </div>
