<link href="50000000.css" rel="stylesheet" type="text/css" title="normal"/>

<div class="contenedor clearfix">
  <div class="cajaDelTituloDeLaPagina">
  	<span class="nombrePagina">Este dia</span> &nbsp;&nbsp;&nbsp;
  </div>
  <div class="texto-podcast">
    Este día en 1968 es la crónica día a día de los sucesos que fueron registrados por la prensa nacional e internacional, entre el 22 de septiembre y el 10 de diciembre de 1968, en torno al movimiento estudantil. En las voces de Daniel Caséz y Flora Botton.
    <br><br>Producción: Departamento de Producción Audiovisual y Multimedia <br>
    Idea original, voz y contenidos: Daniel Caséz Menache <br>
    Voz: Flora Botton Burlá <br>
    Realización, edición, musicalización y voz: Victor Manuel Méndez Villanueva <br>
    Musicalización: Fernando Huerta <br>
  </div>

  <div class=podcast-individual>
    <table>
      <tr>
          <td rowspan="14" class="estedia-ind">
            <%= image_tag("podcast/esteDia/Disco_7.jpg",class: "pod-img-estedia")%>
          </td>
          <td class="estedia-ind">
            <p>21 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_7/Septiembre 21.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>22 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_7/Septiembre 22.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>23 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_7/Septiembre 23.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>24 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_7/Septiembre 24.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>25 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_7/Septiembre 25.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>26 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_7/Septiembre 26.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>27 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_7/Septiembre 27.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>28 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_7/Septiembre 28.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>29 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_7/Septiembre 29.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>30 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_7/Septiembre 30.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>1 de octubre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_7/Octubre 1.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
    </table>
    <%=link_to fa_icon('forward',class: 'fas fa-undo-alt fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
