<link href="50000000.css" rel="stylesheet" type="text/css" title="normal"/>

<div class="contenedor">
  <div class="cajaDelTituloDeLaPagina">
  	<span class="nombrePagina">Este día </span> &nbsp;&nbsp;&nbsp;
  </div>

  <div class="texto-podcast">
    Este día en 1968 es la crónica día a día de los sucesos que fueron registrados por la prensa nacional e internacional, entre el 22 de julio y el 10 de diciembre de 1968, en torno al movimiento estudantil. En las voces de Daniel Caséz y Flora Botton.
    <br><br>Producción: Departamento de Producción Audiovisual y Multimedia <br>
    Idea original, voz y contenidos: Daniel Caséz Menache <br>
    Voz: Flora Botton Burlá <br>
    Realización, edición, musicalización y voz: Victor Manuel Méndez Villanueva <br>
    Musicalización: Fernando Huerta <br>
  </div>
  <div class="tabla-podcast">
    <table>
      <tr>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_1.jpg",class: "pod-img-med"), "estedia_1" %></td>
        </td>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_2.jpg",class: "pod-img-med"), "estedia_2"%></td>
        </td>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_3.jpg",class: "pod-img-med"), "estedia_3"%></td>
        </td>
      </tr>
      <tr>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_4.jpg",class: "pod-img-med"), "estedia_4"%></td>
        </td>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_5.jpg",class: "pod-img-med"), "estedia_5"%></td>
        </td>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_6.jpg",class: "pod-img-med"), "estedia_6"%></td>
        </td>
      </tr>
      <tr>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_7.jpg",class: "pod-img-med"), "estedia_7"%></td>
        </td>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_8.jpg",class: "pod-img-med"), "estedia_8"%></td>
        </td>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_9.jpg",class: "pod-img-med"), "estedia_9"%></td>
        </td>
      </tr>
      <tr>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_10.jpg",class: "pod-img-med"), "estedia_10"%></td>
        </td>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_11.jpg",class: "pod-img-med"), "estedia_11"%></td>
        </td>
        <td>
          <td class= "podcast-img-med"> <%=link_to image_tag("podcast/esteDia/Disco_12.jpg",class: "pod-img-med"), "estedia_12"%></td>
        </td>
      </tr>

    </table>
  </div>
</div>
