<link href="50000000.css" rel="stylesheet" type="text/css" title="normal"/>

<div class="contenedor clearfix">
  <div class="cajaDelTituloDeLaPagina">
  	<span class="nombrePagina">Este dia</span> &nbsp;&nbsp;&nbsp;
  </div>
  <div class="texto-podcast">
    Este día en 1968 es la crónica día a día de los sucesos que fueron registrados por la prensa nacional e internacional, entre el 22 de diciembre y el 10 de diciembre de 1968, en torno al movimiento estudantil. En las voces de Daniel Caséz y Flora Botton.
    <br><br>Producción: Departamento de Producción Audiovisual y Multimedia <br>
    Idea original, voz y contenidos: Daniel Caséz Menache <br>
    Voz: Flora Botton Burlá <br>
    Realización, edición, musicalización y voz: Victor Manuel Méndez Villanueva <br>
    Musicalización: Fernando Huerta <br>
  </div>

  <div class=podcast-individual>
    <table>
      <tr>
          <td rowspan="17" class="estedia-ind">
            <%= image_tag("podcast/esteDia/Disco_12.jpg",class: "pod-img-estedia")%>
          </td>
          <td class="estedia-ind">
            <p>1 de diciembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_12/Diciembre 1.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>2 de diciembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_12/Diciembre 2.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>3 de diciembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_12/Diciembre 3.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>4 de diciembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_12/Diciembre 4.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>5 de diciembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_12/Diciembre 5.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>6 de diciembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_12/Diciembre 6.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>7 de diciembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_12/Diciembre 7.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>8 de diciembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_12/Diciembre 8.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>9 de diciembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_12/Diciembre 9.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>10 de diciembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_12/Diciembre 10.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>11 de diciembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_12/Diciembre 11.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
    </table>
    <%=link_to fa_icon('forward',class: 'fas fa-undo-alt fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
