<link href="50000000.css" rel="stylesheet" type="text/css" title="normal"/>

<div class="contenedor clearfix">
  <div class="cajaDelTituloDeLaPagina">
  	<span class="nombrePagina">Este dia</span> &nbsp;&nbsp;&nbsp;
  </div>
  <div class="texto-podcast">
    Este día en 1968 es la crónica día a día de los sucesos que fueron registrados por la prensa nacional e internacional, entre el 22 de julio y el 10 de diciembre de 1968, en torno al movimiento estudantil. En las voces de Daniel Caséz y Flora Botton.
    <br><br>Producción: Departamento de Producción Audiovisual y Multimedia <br>
    Idea original, voz y contenidos: Daniel Caséz Menache <br>
    Voz: Flora Botton Burlá <br>
    Realización, edición, musicalización y voz: Victor Manuel Méndez Villanueva <br>
    Musicalización: Fernando Huerta <br>
  </div>

  <div class=podcast-individual>
    <table>
      <tr>
          <td rowspan="9" class="estedia-ind">
            <%= image_tag("podcast/esteDia/Disco_5.jpg",class: "pod-img-estedia")%>
          </td>
          <td class="estedia-ind">
            <p>1 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_5/Septiembre 1.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>2 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_5/Septiembre 2.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>3 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_5/Septiembre 3.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>4 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_5/Septiembre 4.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>5 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_5/Septiembre 5.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>6 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_5/Septiembre 6.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>7 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_5/Septiembre 7.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>8 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_5/Septiembre 8.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
    </table>
    <%=link_to fa_icon('forward',class: 'fas fa-undo-alt fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
