
  <div class="cajaDelTituloDeLaPagina">
  	<span class="nombrePagina">Este dia</span> &nbsp;&nbsp;&nbsp;
  </div>
  <div class="texto-podcast">
    Este día en 1968 es la crónica día a día de los sucesos que fueron registrados por la prensa nacional e internacional, entre el 22 de julio y el 10 de diciembre de 1968, en torno al movimiento estudantil. En las voces de Daniel Caséz y Flora Botton.
    <br><br>Producción: Departamento de Producción Audiovisual y Multimedia <br>
    Idea original, voz y contenidos: Daniel Caséz Menache <br>
    Voz: Flora Botton Burlá <br>
    Realización, edición, musicalización y voz: Victor Manuel Méndez Villanueva <br>
    Musicalización: Fernando Huerta <br>
  </div>

  <div class=podcast-individual>
    <table>
      <tr>
          <td rowspan="14" class="estedia-ind">
            <%= image_tag("podcast/esteDia/Disco_1.jpg",class: "pod-img-estedia")%>
          </td>
          <td class="estedia-ind">
            <p>22 de Julio</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-01 Julio 22.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>23 de Julio</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-02 Julio 23.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>24 de Julio</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-03 Julio 24.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>25 de Julio</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-04 Julio 25.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>26 de Julio</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-05 Julio 26.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>27 de Julio</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-06 Julio 27.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>28 de Julio</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-07 Julio 28.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>29 de Julio</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-08 Julio 29.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>30 de Julio</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-09 Julio 30.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>1 de agosto</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-10 Agosto 1.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>2 de agosto</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-11 Agosto 2.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>3 de agosto</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-12 Agosto 3.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>4 de agosto</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-13 Agosto 4.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>5 de agosto</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_1/1-14 Agosto 5.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
    </table>
    <%=link_to fa_icon('forward',class: 'fas fa-undo-alt fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
