<link href="50000000.css" rel="stylesheet" type="text/css" title="normal"/>

<div class="contenedor clearfix">
  <div class="cajaDelTituloDeLaPagina">
  	<span class="nombrePagina">Este dia</span> &nbsp;&nbsp;&nbsp;
  </div>
  <div class="texto-podcast">
    Este día en 1968 es la crónica día a día de los sucesos que fueron registrados por la prensa nacional e internacional, entre el 22 de noviembre y el 10 de diciembre de 1968, en torno al movimiento estudantil. En las voces de Daniel Caséz y Flora Botton.
    <br><br>Producción: Departamento de Producción Audiovisual y Multimedia <br>
    Idea original, voz y contenidos: Daniel Caséz Menache <br>
    Voz: Flora Botton Burlá <br>
    Realización, edición, musicalización y voz: Victor Manuel Méndez Villanueva <br>
    Musicalización: Fernando Huerta <br>
  </div>

  <div class=podcast-individual>
    <table>
      <tr>
          <td rowspan="17" class="estedia-ind">
            <%= image_tag("podcast/esteDia/Disco_11.jpg",class: "pod-img-estedia")%>
          </td>
          <td class="estedia-ind">
            <p>16 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 16.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>17 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 17.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>18 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 18.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>19 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 19.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>20 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 20.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>21 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 21.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>22 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 22.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>23 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 23.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>24 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 24.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>25 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 25.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>26 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 26.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>27 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 27.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>28 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 28.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>29 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 29.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>30 de noviembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_11/Noviembre 30.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
    </table>
    <%=link_to fa_icon('forward',class: 'fas fa-undo-alt fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
