<link href="50000000.css" rel="stylesheet" type="text/css" title="normal"/>

<div class="contenedor clearfix">
  <div class="cajaDelTituloDeLaPagina">
  	<span class="nombrePagina">Este dia</span> &nbsp;&nbsp;&nbsp;
  </div>
  <div class="texto-podcast">
    Este día en 1968 es la crónica día a día de los sucesos que fueron registrados por la prensa nacional e internacional, entre el 22 de septiembre y el 10 de diciembre de 1968, en torno al movimiento estudantil. En las voces de Daniel Caséz y Flora Botton.
    <br><br>Producción: Departamento de Producción Audiovisual y Multimedia <br>
    Idea original, voz y contenidos: Daniel Caséz Menache <br>
    Voz: Flora Botton Burlá <br>
    Realización, edición, musicalización y voz: Victor Manuel Méndez Villanueva <br>
    Musicalización: Fernando Huerta <br>
  </div>

  <div class=podcast-individual>
    <table>
      <tr>
          <td rowspan="14" class="estedia-ind">
            <%= image_tag("podcast/esteDia/Disco_6.jpg",class: "pod-img-estedia")%>
          </td>
          <td class="estedia-ind">
            <p>9 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 9.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>10 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 10.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>11 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 11.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>12 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 12.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>13 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 13.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>14 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 14.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>15 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 15.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>16 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 16.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>17 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 17.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>18 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 18.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>19 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 19.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
      <tr>
          <td class="estedia-ind">
            <p>20 de septiembre</p>
          </td>
          <td class="estedia-ind">
            <%= audio_tag("estedia/estedia_6/Septiembre 20.mp3",controls: true, class: "audio" )%>
          </td>
      </tr>
    </table>
    <%=link_to fa_icon('forward',class: 'fas fa-undo-alt fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
