<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @medio.nombre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @medio.fecha %>
</p>

<%= link_to 'Edit', edit_medio_path(@medio) %> |
<%= link_to 'Back', medios_path %>
