<link href="50000000.css" rel="stylesheet" type="text/css" title="normal"/>

<div class="contenedor">
  <div class="cajaDelTituloDeLaPagina">
  	<span class="nombrePagina">Voces </span> &nbsp;&nbsp;&nbsp;
  </div>

  <div class="tabla-podcast">
    <table class="tabla-voces">
      <tr>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/lucia_alvarez.jpg",class: "pod-img-mini"), 'lucia_alvarez_podcast'%>
            <p>Lucia Álvarez Enríquez</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/jose_amozurrutia.jpg",class: "pod-img-mini"), 'jose_amozurrutia_podcast'%>
            <p>José Antonio Amozurrutia de María y Campos</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/norma_blazquez.jpg",class: "pod-img-mini"), 'norma_blazquez_podcast'%>
            <p>Norma Blazquez Graf</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/flora_botton.jpg",class: "pod-img-mini"), 'flora_botton_podcast'%>
            <p>Flora Botton Burlá</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/patricia_cabrera.jpg",class: "pod-img-mini"), 'patricia_cabrera_podcast'%>
            <p>Gloria Patricia Cabrera López</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/martha_castañeda.jpg",class: "pod-img-mini"), 'martha_castañeda_podcast'%>
            <p>Martha Patricia Castañeda Salgado</p>
          </td>
      </tr>
      <tr>

          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/daniel_cazes.jpg",class: "pod-img-mini"), 'daniel_cazes_podcast'%>
            <p>Daniel Cazés Menache</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/horacio_cerruti.jpg",class: "pod-img-mini"), 'horacio_cerruti_podcast' %>
            <p>Horacio Cerruti</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/enrique_contreras.jpg",class: "pod-img-mini"), 'enrique_contreras_podcast'%>
            <p>Enrique Contreras Suárez</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/oscar_correas.jpg",class: "pod-img-mini"), 'oscar_correas_podcast'%>
            <p>Oscar Correas Vázquez</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/maria_ramos.jpg",class: "pod-img-mini"), 'maria_ramos_podcast'%>
            <p>Maria De La Paz Ramos Lara</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/maria_esperanza.jpg",class: "pod-img-mini"), 'maria_esperanza_podcast'%>
            <p>Maria Elena Esperanza Jarquín Sánchez</p>
          </td>
      </tr>
      <tr>

          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/margarita_favela.jpg",class: "pod-img-mini"), 'margarita_favela_podcast'%>
            <p>Diana Margarita Favela Gavia</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/victor_flores.jpg",class: "pod-img-mini"), 'victor_flores_podcast'%>
            <p>Víctor Flores Olea</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/jose_gandarilla.jpg",class: "pod-img-mini"), 'jose_gandarilla_podcast'%>
            <p>José Guadalupe Gandarilla Salgado</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/rolando_garcia.jpg",class: "pod-img-mini"), 'rolando_garcia_podcast'%>
            <p>Rolando Víctor García Boutigue</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/maria_garcia.jpg",class: "pod-img-mini"), 'maria_garcia_podcast'%>
            <p>María Haydeé García Bravo</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/jorge_gonzalez.jpg",class: "pod-img-mini"), 'jorge_gonzalez_podcast'%>
            <p>Jorge Alejandro González Sánchez</p>
          </td>
      </tr>
      <tr>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/rosalia_paniagua.jpg",class: "pod-img-mini"), 'rosalia_paniagua_podcast'%>
            <p>Rosalia López Paniagua</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/elisa_maass.jpg",class: "pod-img-mini"), 'elisa_maass_podcast'%>
            <p>Elisa Margarita Maass Moreno</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/javier_matus.jpg",class: "pod-img-mini"),'javier_matus_podcast'%>
            <p>Javier Matus</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/rosa_alma_juan.jpg",class: "pod-img-mini"),'rosa_alma_juan_podcast'%>
            <p>Rosa María Mendoza Rosas, Alma Laura Moncada Marín y Juan Carlos Villa Soto</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/rosa_morales.jpg",class: "pod-img-mini"),'rosa_morales_podcast'%>
            <p>Rosa Angélica Morales Sarabia</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/jorge_navarrete.jpg",class: "pod-img-mini"),'jorge_navarrete_podcast'%>
            <p>Jorge Eduardo Navarrete López</p>
          </td>
      </tr>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/leonardo_olivos.jpg",class: "pod-img-mini"),'leonardo_olivos_podcast'%>
            <p>Leonardo Felipe Olivos Santoyo</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/teresa_ordorika.jpg",class: "pod-img-mini"),'teresa_sacristan_podcast'%>
            <p>Teresa Ordorika Sacristán</p>
          </td>
          <td class= "podcast-img-mini"> <%=link_to image_tag("podcast/voces/guadalupe_valencia.jpg",class: "pod-img-mini"),'guadalupe_valencia_podcast'%>
            <p>Guadalupe Valencia García</p>
          </td>
      </tr>
    </table>
    <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
