<link href="archivo_fotografico.css" rel="stylesheet" type="text/css" title="normal"/>

<div class="cajaArchFoto">

    <%= link_to "2004 /","archivoFotografico_2004", class: "anio-foto" %>
    <%= link_to "2005 /","archivoFotografico_2005", class: "anio-foto" %>
    <%= link_to "2006 /","archivoFotografico_2006", class: "anio-foto" %>
    <%= link_to "2007 /","archivoFotografico_2007", class: "anio-foto" %>
    <%= link_to "2008 /","archivoFotografico_2008", class: "anio-foto" %>
    <%= link_to "2009 /","archivoFotografico_2009", class: "anio-foto" %>
    <%= link_to "2010 /","archivoFotografico_2010", class: "anio-foto" %>
    <%= link_to "2011 /","archivoFotografico_2011", class: "anio-foto" %>
    <%= link_to "2012 /","archivoFotografico_2012", class: "anio-foto" %>
    <%= link_to "2013 /","archivoFotografico_2013", class: "anio-foto" %>
    <%= link_to "2014 /","archivoFotografico_2014", class: "anio-foto" %>
    <%= link_to "2015 ","archivoFotografico_2015", class: "anio-foto" %>
  

</div>
