
  <div class="row">
    <div class="mx-auto col-md-6 col-10">
      <%= form_with(model: modelo, local: true,builder: BootstrapFormBuilder) do |form| %>
      <%= render "partials/error_form", :modelo => modelo%>

        <h5>Si el elemento es una imagen con enlace</h5><br>
        <div class="row">
          <%= form.label :imagen %>
          <%= form.file_field :img %>
        </div>

        <div class="row">
          <%= form.label :url_para_imagen %>
          <%= form.text_field :urlImg %>
        </div>
        <br><br>
        <h5>Si tu elemento es un video</h5><br>
        <div class="row">
          <%= form.label :url_para_video %>
          <%= form.text_field :urlVideo %>
        </div>

        <div class="row">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
