<div class="subNav">
	<span>Cuadríptico del CEIICH</span>:
	<%= link_to "Español /", asset_path("pdf/CuadripwebEsp.pdf", skip_pipeline: true), :target => "_blank", class: "link"  %>
	<%= link_to "English /", asset_path("pdf/CuadripwebEng.pdf", skip_pipeline: true), :target => "_blank", class: "link"   %>
	<%= link_to "Italiano /", asset_path("pdf/CuadripwebIta.pdf", skip_pipeline: true), :target => "_blank", class: "link"   %>
	<%= link_to "Português /", asset_path("pdf/CuadripwebPort.pdf", skip_pipeline: true), :target => "_blank", class: "link"   %>
	<%= link_to "Français /", asset_path("pdf/CuadripwebFra.pdf", skip_pipeline: true), :target => "_blank", class: "link"   %>
	<%= link_to "Deutsch", asset_path("pdf/CuadripwebAle.pdf", skip_pipeline: true), :target => "_blank", class: "link"	%>
	<p>	25 aniversario del CEIICH:
		<b><%= link_to "Español", asset_path("pdf/mensajeNBlazquez.pdf", skip_pipeline: true), :target => "_blank", class: "link"   %></b>
</p>
</div>
