<div class="subNav">
  <%= link_to "Español /", acerca_objetivos_path, class: "link" %>
  <%= link_to "English /", acerca_objetivosEng_path, class: "link" %>
  <%= link_to "Italiano /", acerca_objetivosItal_path, class: "link" %>
  <%= link_to "Português /", acerca_objetivosPort_path, class: "link" %>
  <%= link_to "Français /", acerca_objetivosFr_path, class: "link" %>
  <%= link_to "Deutsch", acerca_objetivosDtsch_path, class: "link" %>
</div>
