<div class="subNav">
<%= link_to "Español /", acerca_historia_path, class: "link" %>
<%= link_to "English /", acerca_historiaEng_path, class: "link" %>
<%= link_to "Italiano /", acerca_historiaItal_path, class: "link" %>
<%= link_to "Português /", acerca_historiaPort_path, class: "link" %>
<%= link_to "Français /", acerca_historiaFr_path, class: "link" %>
<%= link_to "Deutsch", acerca_historiaDtsch_path, class: "link" %>
</div>
