<div class="contenedor">
	<div class="divTitulo">
	<span class="titulo">Historia</span>
	</div>
	<%= render 'idiomas_historia' %>
	<%= image_tag("historiaCeiich02.jpg", :style => "float :left; width :300px; border: 10px; padding-right: 10px;") %>
	El Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades (CEIICH) es una entidad académica adscrita a la Coordinación de Humanidades de la UNAM, cuyos objetivos generales son integrar, coordinar, promover y realizar proyectos académicos interdisciplinarios en los campos de las ciencias y las humanidades.</p>
	<p align="justify">Fue creado el 20 de enero de 1986 como Centro de Investigaciones Interdisciplinarias en Humanidades, y el 28 de abril de 1995 se le asigna la tarea de ampliar sus funciones para incorporar de manera institucional a las disciplinas científicas.</p>

	<p align="justify">
	<%= image_tag("historiaCeiich01.jpg", :style => "float :right; width :300px; border: 10px; padding-left: 10px;") %>
	Desde  su creación el centro ha experimentado una gran transformación. En 1986, inició sólo con 6 investigadores apoyados por 14 técnicos académicos, que realizaban sus actividades a través de 7 Seminarios Permanentes; hoy el personal académico está integrado por 47 investigadores y 29 técnicos académicos, que dan vida a los 11 Programas de Investigación que actualmente se desarrollan. Las disciplinas o especialidades en las que se ha formado el personal de investigación, desde los estudios profesionales hasta el posgrado, abarcan tanto a las ciencias naturales y exactas como a las ciencias sociales, de la conducta y las humanidades. Sin embargo, no basta con conjurar a diferentes disciplinas para enfrentar los problemas. Se requiere además de la reflexión que lleve a entender desde el punto de vista teórico y práctico cómo puede darse esta asociación, cómo puede favorecerse. Esta es una de las principales tareas de nuestro Centro</p>

	<p align="justify">

	En este tiempo se ha incrementado la relación de todas las actividades que se realizan en el CEIICH con la docencia, poniendo el centro de atención en los estudiantes y en la formación de nuevas generaciones de investigadores. Intensificando la formación de especialistas a través del diseño y promoción de diplomados, de una mayor vinculación con el posgrado, así como la dirección de tesis de licenciatura, maestría y doctorado, para fortalecer la investigación a través de investigadores con una perspectiva interdisciplinaria.</p>

	<p align="justify">
	<%= image_tag("historiaCeiich03.jpg", :style => "float :left; width :300px; border: 10px; padding-right: 10px;") %>
	Por la naturaleza de sus proyectos constituye un espacio privilegiado donde pueden abordarse con libertad los temas de coyuntura que tienen una notable influencia en la vida social, económica política y cultural del país, cuya comprensión requiere de su examen desde diferentes áreas del conocimiento. Esta característica hace del Centro un importante polo de atracción académica para un numeroso grupo de investigadores de otras dependencias universitarias y de instituciones fuera de la UNAM. Lo que contribuye a impulsar en nuestra universidad la investigación interdisciplinaria e interinstitucional.
	</p>

	<p align="justify">El CEIICH se ha dedicado a la investigación orientada a tender puentes entre las disciplinas científicas, sociales y humanísticas para desentrañar problemas y realidades complejas. Actualmente sus proyectos de investigación contribuyen a la generación de conocimiento original y al análisis y solución de problemas. Mediante la docencia se ha estimulado la formación de nuevas generaciones de especialistas y la difusión se realiza a través de encuentros académicos, publicaciones arbitradas y de una vasta producción editorial, por lo que la labor del CEIICH incide también en los esfuerzos institucionales para fortalecer la cultura científica y humanística de la sociedad.
	</p>
	<br>
	<%= render 'cuadriptico'%>

</div>
