<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
      Informe de Actividades
    </span>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/Info18-19.jpg",class: "img-informe") %></p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/InfoCEIICH2019.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/Info17-18.jpg", class: "img-informe") %>  </p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/info17_18.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/Info16-17.jpg", class: "img-informe") %></p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/info16_17.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/Info15-16.jpg", class: "img-informe") %></p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/info15_16.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/Info14-15.png", class: "img-informe") %></p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/info14_15.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/bInfAct13.png", class: "img-informe") %></p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/InfAct2013-14.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/bInfAct12.png", class: "img-informe") %></p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/InfoCEIICH2019.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/bInfAct11.png", class: "img-informe") %></p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/InfAct2011.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/BotonCazes.png", class: "img-informe") %></p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/InfoCEIICH2019.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/analisisG.png", class: "img-informe") %></p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/analisisG.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/inf1995-1999.png", class: "img-informe") %></p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/inf1995-1999.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
    <div class="col-md-4">
      <p align="center"><%= image_tag("informes/inf1986-1993.png", class: "img-informe") %></p>
      <p align="center">
        <%= link_to "Ver", asset_path("pdf/inf1986-1993.pdf", skip_pipeline: true), class: "btn btnNoActivo", target: "_blank"  %>
      </p>
    </div>
  </div>
</div>
