<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">
      Numeralia
    </span>
  </div>
  <div class="texto">
      <p>
        La fuente de estos datos proviene del <%=link_to "1er Informe Actividades
        de la Dra. Guadalupe Valencia García
        (marzo 2016-marzo 2017)",asset_path("pdf/info16_17.pdf", skip_pipeline: true), target: "_blank",class:"link"%>
      </p>
    </div>
    <p align="center">
      <%= image_tag("numeralia01.jpg", :width => 1150, :crop => "pad") %><br /><br />
      <%= image_tag("numeralia02.jpg", :width => 1150, :crop => "pad") %><br /><br />
      <%= image_tag("numeralia03.jpg", :width => 1150, :crop => "pad") %><br /><br />
      <%= image_tag("numeralia04.jpg", :width => 1150, :crop => "pad") %><br /><br />
      <%= image_tag("numeralia05.jpg", :width => 1150, :crop => "pad") %><br /><br />
      <%= image_tag("numeralia06.jpg", :width => 1150, :crop => "pad") %><br /><br />
      <%= image_tag("numeralia07.jpg", :width => 1150, :crop => "pad") %><br /><br />
      <%= image_tag("numeralia08.jpg", :width => 1150, :crop => "pad") %><br /><br />
      <%= image_tag("numeralia09.jpg", :width => 1150, :crop => "pad") %><br /><br />
    </p>
</div>
