<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">Objetivos</span>
  </div>
  <%= render 'idiomas' %>
  <div class="texto">
    <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Effectuer des recherches interdisciplinaires dans les différents secteurs des sciences et des humanités, avec un accent particulier pour les domaines d'importance pour les besoins nationales.</p>
    <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Produire un système d'information, registre et documentation des faits et des processus qui sont significatifs pour le développement interdisciplinaire des sciences et des sciences humaines ainsi que pour les études interdisciplinaires sur le Mexique et le monde actuel.</p>
    <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Contribuer à la formation des chercheurs et techniciens académiques avec la capacité de diriger des recherches collectives.</p>
    <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Offrir un espace de travail agréable aux étudiants de post graduation pour effectuer leurs thèses, ainsi pour les professeurs et les chercheurs d'autres établissements qui veulent profiter d'une année sabbatique, d'un séjour de recherche pour effectuer des études dans une atmosphère de recherche interdisciplinaire.</p>

  </div>
  <%= image_tag("objetivos.jpg", :style => "display: block;margin-left: auto;margin-right: auto;") %>

  <div class="texto">
    <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Diffuser le résultat de ces recherches par le biais de publications, de séminaires, cours, colloques et forums de discussion tête-à-tête et à distance parmi des professionnels de différentes formations académiques.</p>
    <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Contribuer à la formation de groupes de recherche interdisciplinaire dans le pays et au niveau international.</p>
    <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Prêter de l'assistance à des organismes et à des institutions de recherches et de service national qui le sollicitent.</p>
  </div>

</div>
