<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">Objetivos</span>
  </div>
  <%= render 'idiomas' %>
  <div class="texto">
    <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> To encourage interdisciplinary research, which findings contribute to develop knowledge and construct alternatives that benefit society and solve social problems of México and other countries.</p>
    <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> To contribute to the formation of academic researchers and the constitution of interdisciplinary research groups and networks on a national and a global scale.</p>
    <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> To host the participation of a wide range of interdisciplinary projects from scholars and visitors in the networks and programmes of the Centre.</p>
    <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> To inform and advise, from the perspective of our academics expertise and knowledge, a wide range of organisations. This include other research and education institutions, government agencies, civil society and non-governmental organisations and community groups locally, nationally, and globally.</p>
  </div>
  <p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/_QiaN89hgas" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>

</div>
