
<div class="contenedor">
	<div class="divTitulo">
		<span class="titulo">Objetivos</span>
	</div>
	<%= render 'idiomas' %>
	<div class="texto">
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Effettuare ricerche interdisciplinari nei differenti settori scientifici e negli studi umanistici, con l'impulso speciale a cui hanno attinenza per l'esigenze nazionali.</p>
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Generare un sistema d'informazione, una registrazione e una documentazione dei fatti e dei processi che sono pertinenti allo sviluppo delle interdiscipline nelle scienze e negli studi umanistici o per gli studi interdisciplinari sul Messico e sul mondo attuale.</p>
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Contribuire alla formazione dei ricercatori e dei tecnici accademici con capacità di condurre ricerca collettive.</p>
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Avere uno spazio per gli studenti laureati che possono fare le loro tesi. E per i docenti e ricercatori provenienti da istituzioni accademiche dell'Università per prendere i loro soggiorni di ricerca, o di applicare per l'assegnazione temporanea di eseguire studi specifici di carattere interdisciplinare.</p>
	</div>
	<%= image_tag("objetivos.jpg", :style => "display: block;margin-left: auto;margin-right: auto;") %>
	<div class="texto">
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Diffondere i risultati delle proprie ricerche attraverso le pubblicazioni, i seminari, i corsi, i seminari e forum di discussione ed alla distanza tra esperti di formazione accademica differente.</p>
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Contribuire alla formazione dei gruppi di ricerca interdisciplinare all'interno del paese ed a livello internazionale.</p>
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Fornire assistenza e consulenza alle agenzie ed agli istituti di ricerca e di servizi nazionali, su richiesta.</p>
	</div>
</div>
