

<div class="contenedor">
	<div class="divTitulo">
		<span class="titulo">Objetivos</span>
	</div>
	<%= render 'idiomas' %>
	<div class="texto">
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Realizar pesquisas interdisciplinares nas diferentes áreas de ciências e humanidades, com atenção especial às que tenham relevância para as necesidades nacionais.</p>
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Gerar um sistema de informação, registro e documentação dos fatos e os processos que sejam relevantes para o desenvolvimento da interdisciplina em ciências e humanidades ou para estudos interdisciplinares sobre o México e o mundo atual.</p>
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Contribuir para a formação de pesquisadores e técnicos acadêmicos com capacidade para dirigir pesquisas coletivas.</p>
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Contar com um espaço para estudantes de pós-graduação que possam realizar suas teses. E, por sua vez, que os professores e pesquisadores das entidades acadêmicas da Universidade possam aproveitar seu ano sabático, estâncias de pesquisa, ou solicitar sua vinculção temporal a fim de realizar estudos específicos relacionados à interdisciplinaridade.</p>

	</div>
	<%= image_tag("objetivos.jpg", :style => "display: block;margin-left: auto;margin-right: auto;") %>
	<div class="texto">
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Difundir o resultado de suas pesquisas através de publicações, seminários, cursos, seminários e fóruns de discussão presencial e a distância entre especialistas de distinta formação acadêmica.</p>
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Contribuir para a formação de grupos de pesquisa interdisciplinar dentro do país e a nível internacional.</p>
		<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Prestar assistência e assessoria a organismos e instituções de pesquisas e de serviço nacional que o solicitem.</p>

	</div>

</div>
