<div class="contenedor">
  <div class="divTitulo">
    <span class="titulo">Objetivos</span>
  </div>
  <%= render 'idiomas' %>
  <p align="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/R6KVfhOHvo4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </p>
  <div class="texto">
  <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Impulsar investigaciones interdisciplinarias cuyos resultados contribuyan al desarrollo del conocimiento y a la construcción de alternativas para resolver los problemas de México y del mundo.</p>
  <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Contribuir a la formación de personal académico y a la constitución y consolidación de grupos de investigación interdisciplinaria en el ámbito nacional e internacional.</p>
  <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Ser un espacio idóneo para realizar investigaciones en cualquier modalidad de adscripción o de estancia en el marco de sus programas y proyectos de investigación.</p>
  <p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Asesorar, en temas de su competencia, a organismos e instituciones de investigación y de educación, de servicio público nacional e internacional y de la sociedad civil que lo soliciten.</p>
  </div>
</div>
