		<div class="contenedor">
		  <div class="divTitulo">
		    <span class="titulo">Objetivos</span>
		  </div>
		  <%= render 'idiomas' %>
			<div class="texto">
				<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Durchführung von interdisziplinären Forschungen in den verschiedenen Bereichen der Natur- und Geisteswissenschaften, mit besonderer Berücksichtung derer mit Relevanz für nationale Probleme.</p>
				<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Erstellen eines Systems der Information, Erfassung und Dokumentation von Fakten und Prozessen, die relevant sind für die Entwicklung der Interdisziplinarität in den Natur- und Geisteswissenschaften, sowie für interdisziplinäre Studien über Mexiko und die Welt von heute.</p>
				<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Teilnahme an der Kompetenzbildung von Forschern und technisch-akademischem Personal, kollektive Studien zu leiten.</p>
				<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Institutionelle Angebote für postgraduierte Studenten, Dozenten und Forscher anderer akademischen Einrichtungen der Universität, um ihre Dissertation fertigzustellen, ihr Forschungsjahr auszunutzen oder um sich für begrenzte Zeit einzugliedern, um spezifische Untersuchungen interdisziplinärer Natur auszuführen.</p>
			</div>
			<%= image_tag("objetivos.jpg", :style => "display: block;margin-left: auto;margin-right: auto;") %>
			<div class="texto">
				<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Verbreitung der Forschungsergebnisse durch Veröffentlichungen, Seminare, Kurse und Diskussionsforen an denen Spezialisten aus verschiedenen akademischen Hintergründen teilnehmen.</p>
				<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Beitrag zur Bildung von interdisziplinären Arbeitsgruppen innerhalb des Landes sowie auch auf internationaler Ebene.</p>
				<p align="left"> <%= fa_icon('circle',class: 'fas fa-circle') %> Unterstützung und Beratung von Agenturen und Institutionen mit nationalem Auftragsgebiet.</p>
			</div>

		</div>
