<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Boletines CEIICH,2010</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-02-B2.pdf"><b>   Presentación del Libro: El Lejano Próximo. Estudios sociológicos sobre extrañeidad</b></a>
            <p>Realización del evento: 25 de febrero</p>
            <p>Fuente: Hernández Romero, Erika. “La figura del extraño: una mirada sobre las contradicciones de la modernidad”, Departamento de Difusión, CEIICH/ UNAM, febrero de 2010.</p>
          </div>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-03-B3.pdf"><b>   A 20 años de los Cautiverios: Seguimos construyendo las libertades. Homenaje a Marcela Lagarde y de los Ríos</b></a>
            <p>Realización del evento: 16 y 17 de marzo</p>
            <p>Fuente: Hernández Romero, Erika. “Homenaje a Marcela Lagarde y de Los Ríos por sus contribuciones al feminismo contemporáneo.”, Departamento de Difusión, CEIICH/ UNAM, marzo de 2010.</p>
          </div>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-09-B4.pdf"><b>   En el marco del ciclo de Conferencias, Mesas redondas, Sesión de Cuentacuentos y Performances. 1810, 1910, 2010: Mitos que persisten, Mitos que perecen. El México con el que soñaban los dirigentes de la revolución de 1910.</b></a>
            <p>Realización del evento: 12 de agosto</p>
            <p>Fuente: Hernández Romero, Erika. “Conferencia de Pedro Salmerón Sanginés: El México con el que soñaban los dirigentes de la revolución de 1910.”, Departamento de Difusión, CEIICH/ UNAM, septiembre de 2010.</p>
          </div>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-11-B5.pdf"><b>   En el marco del ciclo de Conferencias, Mesas redondas, Sesión de Cuentacuentos y Performances: '1810, 1910, 2010: Mitos que persisten, Mitos que perecen. Desmitificando a Porfirio Díaz</b></a>
            <p>Realización del evento: 19 de octubre</p>
            <p>Fuente: Hernández Romero, Erika. “Conferencia de Paul Garner: Desmitificando a Porfirio Díaz.”, Departamento de Difusión, CEIICH/ UNAM, noviembre de 2010.</p>
          </div>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-11-B6.pdf"><b>   Seminario Internacional Crisis Económica-ecológica: retos y alternativas</b></a>
            <p>Realización del evento: 8 a 11 de noviembre</p>
            <p>Fuente: Hernández Romero, Erika. “Crisis y Civilización, reflexión previa a la XVI Cumbre Internacional sobre cambio Climático de Naciones Unidas”, Departamento de Difusión, CEIICH/ UNAM, noviembre de 2010.</p>
          </div>

        </td>
      </tr>

    </table>

  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
