<%= render "descripcion_depto"%>
<br>
<%= link_to "Personal","computo",class: "btn btnNoActivo"%>
<%= link_to "Sitios de interés","computo_sitiosinteres",class: "btn btnActivo"%>

<br>
<p align="center">
  <%=link_to "http://ayuda.telecom.unam.mx/","http://ayuda.telecom.unam.mx/",class:"link"%>
</p>
<p align="center">
  <%=link_to "http://www.comunidad.unam.mx","http://www.comunidad.unam.mx",class:"link"%>
</p>

</div>
