<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Gaceta Portal UNAM, 2012</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
            <div class="div-pm">
              <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-01-17-BU1.pdf"><b>   Conferencia. Sobre el arte de no ser gobernados.</b></a>
            </div>
          <p>Realización del evento: 10 de enero</p>
          <p>Fuente: "Zomia, refugio para pueblos que se niegan a someterse al poder de un Estado" [en línea] Boletín UNAM-DGCS, 17 de enero de 2012, disponible en (<a href="http://www.dgcs.unam.mx/boletin/bdboletin/2012_033.html">http://www.dgcs.unam.mx/boletin/bdboletin/2012_033.html</a>)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-01-26-gaceta.pdf"><b>   Conferencia. Sobre el arte de no ser gobernados.</b></a>
          </div>
          <p>Realización del evento: 10 de enero</p>
          <p>Fuente: Tijerino, René. "Pueblos sin Estado, en el sureste asiático" en Gaceta UNAM, núm.4,396, sección La Academia, 26 de enero de 2012, p. 7.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-02-13-gaceta.pdf"><b>   Candidatos para la Dirección del Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades</b></a>
          </div>
          <p>Realización del evento: 13 de febrero</p>
          <p>Fuente: Morales Campos, Estela "Convocatoria para la designación del Director del CEIICH" en Gaceta UNAM, núm. 4,401, sección Gobierno, 13 de febrero de 2012, Pag. 22</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-02-23-gaceta.pdf"><b>   Seminario Género y Cambio Climático: hacia la construcción de una Agenda para la Investigación, el Diseño de Políticas Públicas y la Acción social</b></a>
          </div>
          <p>Realización del evento: 23 de febrero</p>
          <p>Fuente: Romero, Laura "Convenio para realizar seminario sobre género y cambio climático" en Gaceta UNAM, núm.4,404, sección Gobierno, 23 de febrero de 2012, p. 18.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-03-01-gaceta.pdf"><b>   Cuarto Informe de Actividades 2011marzo2012</b></a>
          </div>
          <p>Realización del evento: 27 de febrero</p>
          <p>Fuente: Ayala, Gustavo "El CEIICH, espacio de investigación de calidad" en Gaceta UNAM, núm.4,406 , sección Gobierno, 1 de marzo de 2012, p. 21.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-03-05-gaceta.pdf"><b>   Dirección del Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades</b></a>
          </div>
          <p>Realización del evento: 1 de marzo</p>
          <p>Fuente: "Candidatos para la Dirección del Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades" en Gaceta UNAM, núm.4,407, sección Gobierno, 5 de marzo de 2012, pp. 22-23.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-03-12-BU2.pdf"><b>   Toma de Posesión 2012-2016</b></a>
          </div>
          <p>Realización del evento: 12 de marzo</p>
          <p>Fuente: "Norma Blazquez Graf, directora del CEIICH de la UNAM" [en línea] Boletín UNAM-DGCS, 12 de marzo de 2012, disponible en (<a href="http://www.dgcs.unam.mx/boletin/bdboletin/2012_161.html">http://www.dgcs.unam.mx/boletin/bdboletin/2012_161.html</a>)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-03-15-gaceta.pdf"><b>   Toma de Posesión 2012-2016</b></a>
          </div>
          <p>Realización del evento: 12 de marzo</p>
          <p>Fuente: Olvera, Leticia " Norma Blazquez Graf, directora del CEIICH" en Gaceta UNAM, núm. 4,410, sección Gobierno, 15 de marzo de 2012, p.1, 18.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-05-21-gaceta.pdf"><b>   11a Feria del Libro de la Torre II de Humanidades</b></a>
          </div>
          <p>Realización del evento: 23 a 27 de abril</p>
          <p>Fuente: "Feria del Libro" en Gaceta UNAM, núm. 4,426, sección de esto y aquello, 21 de mayo de 2012, p. 6.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-05-31-gaceta.pdf"><b>   IV Diplomado para Fortalecer el Liderazgo de Mujeres Indígenas</b></a>
          </div>
          <p>Realización del evento: 1 de mayo</p>
          <p>Fuente: Romero, Laura. "Fortalecimiento del liderazgo de las mujeres indígenas. Diplomado internacional" en Gaceta UNAM, núm. 4,429, sección Comunidad, 31 de mayo de 2012, p. 1,5.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-06-10-BU3.pdf"><b>   Mesa El negocio de las refresqueras y del agua embotellada en México: nutrición, pobreza y política de Estado</b></a>
          </div>
          <p>Realización del evento: 23 de mayo</p>
          <p>Fuente: "Refrescos embotellados, un riesgo para la salud" [en línea] Boletín UNAM-DGCS, 10 de junio de 2012, disponible en (<a href="http://www.dgcs.unam.mx/boletin/bdboletin/2012_368.html">http://www.dgcs.unam.mx/boletin/bdboletin/2012_368.html</a>)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-06-18-gaceta.pdf"><b>   Mesa El negocio de las refresqueras y del agua embotellada en México: nutrición, pobreza y política de Estado</b></a>
          </div>
          <p>Realización del evento: 23 de mayo</p>
          <p>Fuente: López, Rafael "Los refrescos, un riesgo para la salud" en Gaceta UNAM, núm. 4,434, sección La Academia, 18 de junio de 2012, p. 11.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-06-25-gaceta.pdf"><b>   Jornada Cultural. Aquelarre Feminista. Poesía, Cuento, Performance, Baile y más</b></a>
          </div>
          <p>Realización del evento: 5 de junio</p>
          <p>Fuente: Páramo, Omar "Aquelarre feminista con performance y todo, en CU" en Gaceta UNAM, núm.1003, sección La Cultura, 25 de junio de 2012, p. 15.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-12-03-gaceta.pdf"><b>   Conferencia Magistral “The race for what´s left”</b></a>
          </div>
          <p>Realización del evento: 27 de noviembre</p>
          <p>Fuente: Tijerino, René "Lucha hegemónica por los recursos estratégicos" en Gaceta UNAM, núm. 4,475, sección La Academia, 3 de diciembre de 2013, p. 10</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href=""><b>   Los afrovenezolanos en la literatura y en las artes de Venezuela</b></a>
          </div>
          <p>Realización del evento: 26 de noviembre</p>
          <p>Fuente: Tijerino, René "Testimonial la literatura de autores afrovenezolanos" en Gaceta UNAM, núm. 4,477, sección La Cultura,10 de diciembre de 2012, p.19.</p>

        </td>
      </tr>

    </table>

  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
