<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Gaceta Portal UNAM, 2009</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-03-17-gaceta.pdf"><b>   Primer Informe</b></a>
            <p>Realización del evento: 12 de marzo</p>
            <p>Fuente: Olvera, Leticia. “El análisis de la interdisciplina, función relevante del CEIICH” en Gaceta UNAM, núm.4,145, sección Gobierno,17 de marzo de 2009, p.21.</p>
          </div>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-04-23-gaceta.01.pdf"><b>   Seminario sobre el libro: La crisis de las utopías (en preparación) de Víctor Flores Olea</b></a>
            <p>Realización del evento: 13 a 16 de abril</p>
            <p>Fuente: Juárez, Aline, Isabel Pérez y Raúl Correa. “La crisis de las utopías, una propuesta editorial diferente”en Gaceta UNAM, núm. , sección Academia, 23 de abril de 2009, p.12-13</p>

          </div>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-04-23-gaceta.02.pdf"><b>   Seminario sobre el libro: La crisis de las utopías (en preparación) de Víctor Flores Olea</b></a>
            <p>Realización del evento: 13 a 16 de abril</p>
            <p>Fuente: Juárez, Aline, Isabel Pérez y Raúl Correa. “La crisis de las utopías, una propuesta editorial diferente” en Gaceta UNAM, núm. , sección Academia, 23 de abril de 2009, p.12-13</p>
          </div>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-04-23-gaceta.pdf"><b>   Octava Feria de la Torre II de Humanidades</b></a>
            <p>Realización del evento: 20 a 24 de abril</p>
            <p>Fuente: Olvera, Leticia y Laura Romero.“Hoy, Día Mundial del Libro” en Gaceta UNAM, núm. 4,154 , sección Cultura, 23 de abril de 2009, p.14.</p>
          </div>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-06-15-gaceta.pdf"><b>   Jornada sobre movimientos sociales en Oaxaca. Situación actual y perspectivas</b></a>
            <p>Realización del evento: 27 de mayo</p>
            <p>Fuente: Zavala, Patricia “Jornada sobre los movimientos sociales en Oaxaca” en Gaceta UNAM, núm. 4,167 , sección Academia, 15 de junio de 2009, p. 9.</p>
          </div>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-10-01-gaceta.pdf"><b>   Coloquio:Darwinismo, Naturaleza Humana y Conducta.</b></a>
            <p>Realización del evento: 22 y 23 de septiembre</p>
            <p>Fuente: Pérez, Isabel. “Religiosidad, expresión dominante y antigua”en Gaceta UNAM, núm. 4,190, sección Academia,1 de octubre de 2009, p.11.</p>
          </div>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-10-BU3.pdf"><b>   Conferencia Magistral. Cambio climático y las ciencias del siglo XXI</b></a>
            <p>Realización del evento: 5 de octubre</p>
            <p>Fuente: Afrontar el Cambio Climático requiere una Estrategia Social y Política, no sólo científica [en línea] Boletín UNAM-DGCS, 12 de octubre de 2012, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2009_601.htm)</p>
          </div>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-11-23-gaceta.pdf"><b>   Presentación del libro: Entre amoras Lesbianismo en la narrativa mexicana</b></a>
            <p>Realización del evento: 9 de octubre</p>
            <p>Fuente: Hernández Romero, Erika. “Presentan el libro Entre amoras” en Gaceta UNAM, núm. 4,205, sección Academia, 23 de noviembre de 2009, p. 11.</p>
          </div>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-02-BU1.pdf"><b>   Mesa. Agua, tierra y represas</b></a>
            <p>Realización del evento: 17 de febrero</p>
            <p>Fuente: La Construcción de Grandes Represas desencadena problemas ecológicos y sociales [en línea] Boletín UNAM-DGCS, 24 de febrero de 2009, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2009_113.html)</p>
          </div>

        </td>
      </tr>

      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
            <a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-03-05-gaceta.pdf"><b>   Mesa. Agua, tierra y represas</b></a>
            <p>Realización del evento: 17 de febrero</p>
            <p>Fuente: Patricia Zavala. “Desencadenan represas problemas ecológicos” en Gaceta UNAM, núm.4,142 , sección Academia, 5 de marzo de 2009, p. 8.</p>
          </div>

        </td>
      </tr>

      <tr>
        <td  class="item-pm">
          <div>
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
            <a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-03-BU2.pdf"><b>   Seminario Permanente: Las izquierdas contemporáneas</b></a>
            <p>Realización del evento: 25 de febrero</p>
            <p>Fuente: En El Mundo se Estudia poco a la Izquierda [en línea] Boletín UNAM-DGCS, 15 de marzo de 2009, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2009_150.html)</p>
          </div>

        </td>
      </tr>

    </table>

  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
