<%= render "presencia_medios"%>

  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Boletines CEIICH, 2015</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/15.02.05.ConfEspaMedAyuujk.pdf"><b>   Conferencia. Espacios mediáticos Ayuujk: la reinvención de la fotografía, el video y la televisión en la Sierra Mixe, México.</b></a>
          </div>
          <p>Realización del evento: 9 de enero de 2015</p>
          <p>Fuente: Tijerino, René. "Experiencia en la Sierra Mixe. Reinvención de la fotografía, el video y la televisión" en Gaceta UNAM, núm. 4,667, sección Cultura, 5 de febrero de 2015, p. 13. ISSN 0188-5138.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/15.02.20.%20BU2.Elaboran%20modelo%20de%20seguridad%20para%20mujeres.pdf"><b>   Mesa redonda Propuestas feministas para la seguridad de las mujeres</b></a>
          </div>
          <p>Realización del evento: 26 de enero de 2015</p>
          <p>Fuente: "Elaboran modelo de seguridad para mujeres", Boletín UNAM-DGCS 104, 20 de febrero de 2015. Disponible en: http://www.dgcs.unam.mx/boletin/bdboletin/2015_104.html</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/15.02.26.PropFemSegMujeres.pdf"><b>   Mesa redonda Propuestas feministas para la seguridad de las mujeres</b></a>
          </div>
          <p>Realización del evento: 27 de enero de 2015</p>
          <p>Fuente: López, Rafael. “Modelo de seguridad para las mujeres. Propuesta del CEIICH” en Gaceta UNAM, núm. 4,673, sección Academia, 26 de febrero de 2015, p. 9. ISSN 0188-5138</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/15.03.05GacetaUNAM_InformeActividadesNormaBlazquez.pdf"><b>   Informe de Actividades 2014 marzo 2015. Dra. Norma Blazquez Graf. Con la presencia de la Dra. Estela Morales, Coordinadora de Humanidades</b></a>
          </div>
          <p>Realización del evento: 4 de marzo de 2015</p>
          <p>Fuente: Olvera, Leticia. " Informe de Norma Blazquez, en el CEIICH, cuerpo sólido de investigadores" en Gaceta UNAM, núm. 4675, sección Gobierno, 5 de marzo de 2015, p. 16. ISSN 0188-5138</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5Mayo4-82015LosDesafiosCdSXXIDireccionGeneralDivulgaciondelaCiencia.pdf"><b>   Seminario Internacional Los Desafíos de la Ciudad del Siglo XXI</b></a>
          </div>
          <p>Realización del evento: 4 al 8 de mayo de 2015</p>
          <p>Fuente: Pérez S., Isabel. “Convivencia de millones de personas, un desafío de las grandes ciudades” en Dirección General de Divulgación de la Ciencia, serie Ciencia UNAM, sección Cultura y Sociedad, 4 de mayo de 2015. Disponible en: <a href="http://ciencia.unam.mx/leer/45">http://ciencia.unam.mx/leer/45</a></p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10Oct192015GacetaUNAM_IVJornadaPCarrillo.pdf"><b>   Jornada Académica* Investigación-Docencia Interdisciplinaria, 2015</b></a>
          </div>
          <p>Realización del evento: 10-12 de agosto de 2015</p>
          <p>Fuente: Alcántar, Annel. “Jornada académica interdisciplinaria. Estrategias digitales y de gestión organizacional” en Gaceta UNAM, núm. 4,732, sección Academia, 19 de octubre de 2015, p. 15. ISSN 0188-5138</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10Oct292015GacetaUNAM_ConfMagIdentidadesCivilizatorias.pdf"><b>   Conferencia magistral Identidades civilizatorias de larga duración: maíz, trigo y arroz</b></a>
          </div>
          <p>Realización del evento: 23 de septiembre de 2015</p>
          <p>Fuente: Alcántar, Annel. “Seminario de agroecología. Se cultivan sólo 300 de las 300 mil plantas”, en Gaceta UNAM, núm. 4,735, sección Academia, 29 de octubre de 2015, p. 8. ISSN 0188-5138.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/15.11.15.%20BU4.%20INTEGRA,%20red%20contra%20el%20racismo%20y%20la%20xenofobia.pdf"><b>   Evento Fundacional de INTEGRA. Red de Investigación Interdisciplinaria sobre Identidades, Racismo y Xenofobia en América Latina</b></a>
          </div>
          <p>Realización del evento: 21 de octubre de 2015</p>
          <p>Fuente: "INTEGRA, red contra el racismo y la xenofobia" en Boletín UNAM-DGCS 658, 15 de noviembre de 2015. Disponible en: <a href="http://www.dgcs.unam.mx/boletin/bdboletin/2015_658.html">http://www.dgcs.unam.mx/boletin/bdboletin/2015_658.html</a></p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11Nov162015GacetaUNAM_RedIntegra.pdf"><b>   Evento Fundacional de INTEGRA. Red de Investigación Interdisciplinaria sobre Identidades, Racismo y Xenofobia en América Latina</b></a>
          </div>
          <p>Realización del evento: 21 de octubre de 2015</p>
          <p>Fuente: Frías, Leonardo. “Respeto a la diversidad. Red contra el racismo y la xenofobia en AL” en Gaceta UNAM, núm. 4,740, sección Academia, 16 de noviembre de 2015, p. 8. ISSN 0188-5138.</p>

        </td>
      </tr>

    </table>
    <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>

  </div>
