<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Gaceta Portal UNAM, 2011</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-01-24-gaceta.pdf"><b>   Ceremonia Conmemorativa del 25 aniversario</b></a>
          </div>
          <p>Realización del evento: 20 de enero</p>
          <p>Fuente: Ayala, Gustavo. "CEIICH, 25 años de realizar investigación de calidad" en Gaceta UNAM, núm. 4,306, sección Comunidad, 24 de enero de 2011, p. 7.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-01-BU1.pdf"><b>   Ceremonia Conmemorativa del 25 aniversario</b></a>
          </div>
          <p>Realización del evento: 20 de enero</p>
          <p>Fuente: Celebra el CEIICH 25 años de vida [en línea] Boletín UNAM-DGCS, 24 de enero de 2011, disponible en (<a href="http://www.dgcs.unam.mx/boletin/bdboletin/2011_048.html">http://www.dgcs.unam.mx/boletin/bdboletin/2011_048.html</a>)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-03-03-gaceta.pdf"><b>   Presentación Libro Ecología Política de la Minería en América Latina</b></a>
          </div>
          <p>Realización del evento: 9 de febrero</p>
          <p>Fuente: La Minería en América Latina en Gaceta UNAM, núm 4,317, sección La Academia, 3 de marzo de 2011, p. 11.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-03-22-gaceta.pdf"><b>   Tercer Informe de Actividades 2010-2011</b></a>
          </div>
          <p>Realización del evento: 18 de marzo</p>
          <p>Fuente: Romero, Laura "En el CEIICH, calidad y productividad académicas" en Gaceta UNAM,núm. 4, 322, Sección Gobierno, 22 de marzo de 2011, p. 18.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-03-04-gaceta.pdf"><b>   Décima Edición de la Feria del Libro de las Torre II de Humanidades</b></a>
          </div>
          <p>Realización del evento: 4 de marzo</p>
          <p>Fuente: Correa, Raúl "Cuatro mil títulos en l aFeria de Humanidades" en Gaceta UNAM, núm.4, 327 , sección comunidad, 7 de abril de 2011, p. 6.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-04-08-dgcs.pdf"><b>   Mesa Debate. Implicaciones de la era nuclear y el negocio eléctrico: una lectura desde los recientes acontecimientos en Japón.</b></a>
          </div>
          <p>Realización del evento: 24 de marzo</p>
          <p>Fuente: Necesaria, transición energética hacia fuentes renovables [en línea] Boletín UNAM-DGCS, 8 de abril de 2011, disponible en (<a href="http://www.dgcs.unam.mx/boletin/bdboletin/2011_208.htm">http://www.dgcs.unam.mx/boletin/bdboletin/2011_208.htm</a>l)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-05-BU4.pdf"><b>   Encuentro.Tres mesas de discusión con los coautores de: La huella global de China: Interacciones Internacionales de una Potencia Mundial</b></a>
          </div>
          <p>Realización del evento: 29 de marzo</p>
          <p>Fuente: Prevén a China como la Principal Economía del Mundo en Menos de 25 años [en línea] Boletín UNAM_DGCS, 24 de mayo de 2011, disponible en (<a href="http://www.dgcs.unam.mx/boletin/bdboletin/2011_307.html">http://www.dgcs.unam.mx/boletin/bdboletin/2011_307.html</a>)</p>

        </td>
      </tr>

      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-05-BU3.pdf"><b>   Ciclo de Conferencias Complejidad y Tecnociencia: Biotecnología y Nanotecnología</b></a>
          </div>
          <p>Realización del evento: 17 de mayo</p>
          <p>Fuente: Los Conceptos de Nanociencia y Nanotecnología, aún lejos de la Sociedad [en línea] Boletín UNAM-DGCS, 27 de mayo de 2011, disponible en (<a href="http://www.dgcs.unam.mx/boletin/bdboletin/2011_315.html">http://www.dgcs.unam.mx/boletin/bdboletin/2011_315.html</a>)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-10-24-gaceta.pdf"><b>   Tercera Jornada Cultural de Diversidad Sexual en la UNAM</b></a>
          </div>
          <p>Realización del evento: 19 a 30 de septiembre</p>
          <p>Fuente: Tijerino, René "Elena Olivera y las personajas en la narrativa mexicana" en Gaceta UNAM, núm. 4, 375, sección La Cultura, 24 de octubre de 2013, p. 18.</p>

        </td>
      </tr>

    </table>

  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
