<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios clearfix">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Gaceta Portal UNAM, 2010</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-01-BU1.pdf"><b>   Conferencia Violence and Democracy, which produces Elite change in Mexico ?</b></a>
          </div>

            <p>Realización del evento: 7 de diciembre</p>
            <p>Fuente: La Biografía de la Política Mexicana, una Historia en Cambio Constante [en línea] Boletín UNAM-DGCS, 12 de enero de 2010, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2010_025.html)</p>


        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-01-13-gaceta.pdf"><b>   Presentación del libro: Homofobia. Laberinto de la Ignorancia</b></a>
          </div>
          <p>Realización del evento: 23 de noviembre</p>
          <p>Fuente: Zavala, Patricia. “Presentan el libro Homofobia: laberinto de la ignorancia” en Gaceta UNAM, núm. 4,303, sección Academia, 13 de enero de 2011, p.11.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-02-BU2.pdf"><b>   Entrevista Ricardo Mansilla Corona</b></a>
          </div>
          <p>Realización del evento: 5 de febrero</p>
          <p>Fuente: Con un Modelo Computacional, Simulan en el CEIICH Expansión de una Epidemia en México [en línea] Boletín UNAM-DGCS, 5 de febrero de 2010, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2010_077.html)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-03-16-gaceta.pdf"><b>   Informe de actividades</b></a>
          </div>
          <p>Realización del evento: 12 de marzo</p>
          <p>Fuente: Romero, Laura. “Avanza el CEIICH como entidad sólida de investigación” en Gaceta UNAM, núm.4,231, sección Gobierno, 16 de marzo de 2010, p. 21.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-04-29-gaceta.pdf"><b>   Novena Feria del libro de la Torre II de Humanidades</b></a>
          </div>
          <p>Realización del evento: 26 a 30 de abril</p>
          <p>Fuente: Ayala, Gustavo.“Más de tres mil títulos en la Feria del Libro de Humanidades” en Gaceta UNAM, núm. 4, 242, sección Comunidad, 29 de abril de 2010, p. 4.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-05-13-gaceta.pdf"><b>   Mesas académicas de la UNAM en el marco del evento “Agua, ríos y pueblos” </b></a>
          </div>
          <p>Realización del evento: 27 de abril</p>
          <p>Fuente: Olvera, Leticia. “En México, necesarios acuerdos sobre el cambio climático” en Gaceta UNAM, núm.4,245 , sección Academia, 13 de mayo de 2010, p. 9.</p>


        </td>
      </tr>

      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-05-BU3.pdf"><b>   Mesas Académicas de la UNAM: Conferencia Magistral Francois Houtart</b></a>
          </div>
          <p>Realización del evento: 4 de mayo</p>
          <p>Fuente: Los agrocombustibles no son Alternativa para frenar la Crisis Energética [en línea] Boletín UNAM-DGCS, 13 de mayo de 2010, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2010_292.html)</p>
        </td>

      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-05-BU3.pdf"><b>   Mesa de Discusión Discusión de los avances de investigación Crisis y Reactivación: Rumbos y Desvíos  Proyecto Evolución de las Estructuras de poder mundial  </b></a>
          </div>
          <p>Realización del evento: 4 de mayo</p>
          <p>Fuente: Los agrocombustibles no son Alternativa para frenar la Crisis Energética [en línea] Boletín UNAM-DGCS, 13 de mayo de 2010, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2010_292.html)</p>
        </td>

      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-06-BU5.pdf"><b>   Mesas Académicas de la UNAM. Mesa 1 Cambio Climático</b></a>
          </div>
          <p>Realización del evento: 27 de abril</p>
          <p>Fuente: México Necesita Establecer Compromisos y Acuerdos en el Quinto Foro sobre Cambio Climático [en línea] Boletín UNAM-DGCS, 7 de junio de 2010, disponible en http://www.dgcs.unam.mx/boletin/bdboletin/2010_344.html</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-06-BU6.pdf"><b>   Entrevista Olivia Tena Guerero</b></a>
          </div>
          <p>Realización del evento: 30 de junio</p>
          <p>Fuente: El Futbol y las Mujeres [en línea] Boletín UNAM DGCS, 30 de junio de 2010, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2010_391.html)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-07-BU7.pdf"><b>   Libro El Retorno de las Brujas. Incorporación y contribuciones de las mujeres a la ciencia.</b></a>
          </div>
          <p>Realización del evento: 14 de julio</p>
          <p>Fuente: Relaciona Estudio, a las Científicas con las Brujas [en línea] Boletín UNAM-DGCS, 14 de julio de 2010, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2010_420.html)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-09-BU8.pdf"><b>   Conferencia Relaciones de poder en parejas de doble ingreso</b></a>
          </div>
          <p>Realización del evento: 20 de septiembre</p>
          <p>Fuente: En una Relación, la Mujer no es Autónoma Aunque Obtenga Ingresos Propios [en línea] Boletín UNAM-DGCS, 30 de septiembre de 2010, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2010_582.html)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-11-BU9.pdf"><b>   Seminario Los que aquí se quedan. La migración internacional vista desde el nivel local</b></a>
          </div>
          <p>Realización del evento: 4 a 5 de octubre</p>
          <p>Fuente: Necesario Profundizar Estudio de Impactos Sobre Migración a Nivel Local [en línea] Boletín UNAM-DGCS, 7 de noviembre de 2010, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2010_663.html)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-11-25-gaceta.pdf"><b>   Presentación del Libro Investigación Feminista Epistemología, Metodología y Representaciones Sociales.</b></a>
          </div>
          <p>Realización del evento: 21 de octubre</p>
          <p>Fuente: Zavala, Patricia. “Nuevo libro sobre estudios de género”en Gaceta UNAM, núm.4,295, sección Academia, 25 de noviembre de 2010, p. 11.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-11-BU10.pdf"><b>   Tercera edición del Encuentro Internacional e Interdisciplinario en Nanociencia y Nanotecnología NanoMex’10</b></a>
          </div>
          <p>Realización del evento: 18 y 19 de noviembre</p>
          <p>Fuente: Impulsa Nanomex'10 La Discusión y el Diálogo Sobre Nanociencia y Nanotecnología [en línea] Boletín UNAM-DGCS, 29 de noviembre de 2010, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2010_754.html)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-12-13-gaceta.pdf"><b>   Encuentro Internacional e Interdisciplinario en Nanociencia y Nanotecnología NanoMex'10</b></a>
          </div>
          <p>Realización del evento: 18 y 19 de noviembre</p>
          <p>Fuente: López, Patricia. “Discusión y diálogo sobre nanociencia y nanotecnología” en Gaceta UNAM, núm. 4,300, sección Academia, 13 de diciembre de 2010, p. 14.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-12-13-gaceta.pdf"><b>   Diplomado de Actualización Profesional en Investigación Interdisciplinaria</b></a>
          </div>
          <p>Realización del evento: 3 de diciembre</p>
          <p>Fuente: Olvera Leticia /Pérez Isabel.“Finaliza diplomado sobre investigación interdisciplinaria” en Gaceta UNAM, núm. 4, 301, sección La academia, 16 de diciembre de 2010, p. 10.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-12-BU11.pdf"><b>   Entrevista Gian Carlo Delgado Ramos</b></a>
          </div>
          <p>Realización del evento: 20 de diciembre</p>
          <p>Fuente: Produce la UNAM la Tercera Parte de la Nanociencia y Nanotecnología en México [en línea] Boletín UNAM-DGCS, 20 de diciembre de 2010, disponible en (http://www.dgcs.unam.mx/boletin/bdboletin/2010_800.html)</p>

        </td>
      </tr>

    </table>

  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
