<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Gaceta Portal UNAM, 2015</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/3Marzo6_La%20Jornada_%20SemIntColombiaMexico.pdf"><b>   Seminario Internacional Colombia-México. Paramilitarismo y despojo territorial </b></a>
          </div>
          <p>Realización del evento: 5 de marzo de 2015</p>
          <p>Fuente: Olivares, Emir. "EU, involucrado en hechos de violencia en Colombia y México" en La Jornada, año 31, núm. 10988, Sección Política, 6 de marzo de 2015, p. 5.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/3Marzo18_Eikon.com_PL%20Se%20apropian%20del%20agua.pdf"><b>   Presentación del libro Apropiación de agua, medio ambiente y obesidad. Los impactos del negocio de bebidas embotelladas en México</b></a>
          </div>
          <p>Realización del evento: 18 de marzo de 2015</p>
          <p>Fuente: “Se apropian del agua” en Eikon.com, 18 de marzo. Disponible en: https://www.eikon.com.mx/portfolio/se-apropian-del-agua/</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/3Marzo18_Lopez,%20Mercedes%20y%20Veronica%20Reynoso.%20PL%20Apropiacion%20de%20agua.pdf"><b>   Presentación del libro Apropiación de agua, medio ambiente y obesidad. Los impactos del negocio de bebidas embotelladas en México</b></a>
          </div>
          <p>Realización del evento: 18 de marzo de 2015</p>
          <p>Fuente: López, Mercedes y Verónica Reynoso. “Apropiación de agua, medio ambiente y obesidad. Los impactos del negocio de bebidas embotelladas en México. Presentación del libro” en Vía Orgánica AC, 18 de marzo de 2015. Disponible en: http://viaorganica.org/apropia</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/4Abril20-242015.pdf"><b>  X Conferencia Latinoamericana de Crítica Jurídica “Por la memoria y contra el olvido”</b></a>
          </div>
          <p>Realización del evento: 20 al 24 de abril de 2015</p>
          <p>Fuente: “El Tribunal Supremo de Justicia participó en la X Conferencia Latinoamericana de Crítica Jurídica en México” en Noticias 24/ Venezuela, 25 de abril de 2015. Disponible en: http://www.noticias24.com/venezuela/noticia/281628/tsj-participo-con-ponencia-sobr</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5Mayo4-82015LosDesafiosCdSXXICanaldelCongreso.pdf"><b>   Seminario Internacional Los Desafíos de la Ciudad del Siglo XXI</b></a>
          </div>
          <p>Realización del evento: 4 al 8 de mayo de 2015</p>
          <p>Fuente: “Analizan construcción de la ciudadanía y su relación con la ciudad” en Canal del Congreso, sección Noticias, 7 de mayo de 2015. Disponible en: http://www.canaldelcongreso.gob.mx/noticias/6724/</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5Mayo4-82015LosDesafiosCdSXXIComunicacionSocialSenado.pdf"><b>   Seminario Internacional Los Desafíos de la Ciudad del Siglo XXI</b></a>
          </div>
          <p>Realización del evento: 4 al 8 de mayo de 2015</p>
          <p>Fuente: “Senadores y expertos coinciden en la necesidad de políticas de largo plazo para lograr ciudades sustentables” en Senado de la República. Coordinación de Comunicación Social, 8 de mayo de 2015. Disponible en: http://comunicacion.senado.gob.mx/index.php/in</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5Mayo4-82015LosDesafiosCdSXXIOEMenlineaElSoldeMexico.pdf"><b>   Seminario Internacional Los Desafíos de la Ciudad del Siglo XXI</b></a>
          </div>
          <p>Realización del evento: 4 al 8 de mayo de 2015</p>
          <p>Fuente: “Las ciudades deben convertirse en una posibilidad de vida digna” en Organización Editorial Mexicana en línea. El Sol de México, 8 de mayo de 2015. Disponible en: http://www.oem.com.mx/elsoldemexico/notas/n3799849.htm</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/S/archivo"><b>   Seminario Internacional Los Desafíos de la Ciudad del Siglo XXI</b></a>
          </div>
          <p>Realización del evento: 4 al 8 de mayo de 2015</p>
          <p>Fuente: “Mesa 11. Ciudad y municipio y Clausura” en Canal del Congreso. Video en Demanda, 8 de mayo de 2015. Disponible en: http://www.canaldelcongreso.gob.mx/vod/reproducir/0_0tr77ccm/Seminario_Los_desafios_de_la_ciudad_del_siglo_XXI._Mesa_11,_Clausura</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5Mayo4-82015LosDesafiosCdSXXICapitalToluca.pdf"><b>   Seminario Internacional Los Desafíos de la Ciudad del Siglo XXI</b></a>
          </div>
          <p>Realización del evento: 4 al 8 de mayo de 2015</p>
          <p>Fuente: Hernández, Lidia. “Pide Ana Lilia Herrera Anzaldo que las ciudades ya no sean negocios” en Capital Toluca, 11 de mayo de 2015. Disponible en: http://www.capitaltoluca.com.mx/?p=905</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_LaVerdaddeTamaulipas.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Lara, Carlos. “Analizan papel de las mujeres en medios de comunicación” en La verdad de Tamaulipas, 27 de mayo de 2015. Disponible en: http://www.laverdad.com.mx/desplegar_noticia.php?seccion=LOCAL¬a=207124</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_CERIGUA.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: “Equidad de género aún es ignorada en los medios” en CERIGUA, Centro de Reportes Informativos sobre Guatemala, 28 de mayo de 2015. Disponible en: http://cerigua.org/article/equidad-de-genero-aun-es-ignorada-en-los-medios/</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_%20TamaulipasenlaRed.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Paz, Érika. “Estado permite violencia en contra de mujeres periodistas” en Tamaulipas en la Red, 28 de mayo de 2015. Disponible en: http://www.tamaulipasenlared.com/web/boletines/noticias-nacionales/30932-estado-permite-violencia-en-contra-de-mujeres-peri</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_%20Yancuic.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Soto Espinosa, Angélica Jocelyn. “A nivel global no se ha logrado equidad de género en medios” en Agencia de noticias y publicidad, Yancuic.com, 28 de mayo de 2015. Disponible en: http://www.yancuic.com/anivelglobalnosehalogradoequidaddegeneroenmedios0</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_Cimac%20Noticias_Violenciaenredes.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: García Martínez, Anayeli. “Violencia en redes pretende intimidar a feministas y blogueras” en Cimac noticias. Periodismo con perspectiva de género, 28 de mayo de 2015. Disponible en: http://www.cimacnoticias.com.mx/node/69764</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Zamora Márquez, Anaiz “Intereses económicos impiden acuerdo por equidad en medios” en Cimac noticias. Periodismo con perspectiva de género, 28 de mayo de 2015. Disponible en: http://www.cimacnoticias.com.mx/node/69800</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_Novagob.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Martín Gallardo, María. “Equidad de género en medios, asignatura inconclusa” en Novagob. La red social de la administración pública, 28 de mayo de 2015. Disponible en: http://www.novagob.org/discussion/view/130814/equidad-de-genero-en-medios-asignatura-in</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_CimacNoticias_Derechosfemeninosenmedios.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Zamora Márquez, Anaiz. “Derechos femeninos en medios, lo más incumplido de Plataforma de Beijing” en Cimac noticias. Periodismo con perspectiva de género, 28 de mayo de 2015. Disponible en: http://www.cimacnoticias.com.mx/node/69757</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_CimacNoticias_NaceCapituloALAlianzaGlobalMediosgenero.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Zamora Márquez, Anaiz. “Nace Capítulo AL de Alianza Global de Medios y Género” en Cimac noticias. Periodismo con perspectiva de género, 28 de mayo de 2015. Disponible en: http://www.cimacnoticias.com.mx/node/69763</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_CimacNoticias_Due%C3%B1osde%20emporiosmediaticos.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Soto Espinosa, Angélica Jocelyn. “Dueños de emporios mediáticos traban avance de comunicadoras” en Cimac noticias. Periodismo con perspectiva de género, 28 de mayo de 2015. Disponible en: http://www.cimacnoticias.com.mx/node/69799</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_Espacinsular.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: “Investigadoras y periodistas evidencian desigualdad y sexismo en los medios de comunicación” en Espacio de Comunicación Insular, 28 de mayo de 2015. Disponible en: http://www.espacinsular.org/cultura-y-sociedad/1720-investigadoras-y-periodistas-evidencia</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_SEMMEXICO.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: “Pendiente igualdad de género en Medios” en SemMéxico, Servicio Especial de la Mujer México por la equidad informativa, 28 de mayo de 2015. Disponible en: http://www.semexico.org.mx/archivos/1370</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_CimacNoticias_Delamanoataquesalaprensa.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: García Martínez, Anayeli. “De la mano, ataques a la prensa y violencia de género” en Cimac noticias. Periodismo con perspectiva de género, 29 de mayo de 2015. Disponible en: http://www.cimacnoticias.com.mx/node/69814</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_%20CimacNoticias_Alianzasdeperiodistas.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Soto Espinosa, Angélica Jocelyn. “Alianzas de periodistas, punta de lanza para reforzar derechos” en Cimac noticias. Periodismo con perspectiva de género, 29 de mayo de 2015. Disponible en: http://www.cimacnoticias.com.mx/node/69815</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_24horas.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: “Restringen participación de mujeres en medios de comunicación” en 24 Horas, 29 de mayo de 2015. Disponible en: http://www.24horaspress.com/2015/05/29/restringenparticipaciondemujeresenmediosdecomunicacion/</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_%20NoticiasdeAmericaLatinayelCaribe.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: “Expertas del mundo analizarán en México el papel de las mujeres en los medios de comunicación” en Noticias de América Latina y el Caribe, 29 de mayo de 2015. Disponible en: http://www.nodal.am/2015/05/expertas-del-mundo-analizaran-en-mexico-el-papel-de-l</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_RevistaNodos.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Lozada Fernández, Lourdes. “Mujeres laboran sin paridad en Medios de comunicación: Vega Montiel” en Revista Nodos, 29 de mayo de 2015. Disponible en: http://revistanodos.com.mx/web/mujeres-laboran-sin-paridad-en-medios-de-comunicacion-vega-montiel/</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_RevistaZocalo.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Suárez, Estephania. “Grave desigualdad hacia las mujeres en los medios deComunicación” en Revista Zócalo, 29 de mayo de 2015. Disponible en: http://www.revistazocalo.com.mx/45-zocalo/6401-grave-desigualdad-hacia-las-mujeres-en-los-medios-de-comunicacion.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_ElPensador.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Cruz Frías, Verónica. “Videojuegos promueven violencia de género: Aimée Vega” en El Pensador, 31 de mayo de 2015. Disponible en: http://www.elpensador.com.mx/videojuegos-promueven-violencia-de-genero-aimee-vega/</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_%20AgenciaImagendelGolfo.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: “Sexismo en medios” en Agencia de noticias Imagen del Golfo, 1 de junio de 2015. Disponible en http://www.imagendelgolfo.com.mx/resumen.php?id=41069215</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_%20NotieSe.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Herrera, Rocío. “Persisten desigualdad y sexismo en los medios de comunicación; especialistas” en NotieSe. Agencia especializada de noticias, salud, sexualidad y sida, 1 de junio de 2015. Disponible en: http://www.notiese.org/notiese.php?ctn_id=8128</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_%20La%20CronicadeHoyenHidalgo.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 27 y 28 de mayo de 2015</p>
          <p>Fuente: Suárez, Aida. “De las periodistas y libertad de expresión” en La crónica de hoy, Hidalgo, 2 de junio de 2015. Disponible en: http://www.cronicahidalgo.com/2015/06/de-las-periodistas-y-libertad-de-expresion/</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_PeriodicoMirador.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 28 y 28 de mayo de 2015</p>
          <p>Fuente: Zamora Márquez, Anaiz. “Derechos femeninos en medios, lo más incumplido de Plataforma de Beijing” en Periódico Mirador, 27 de mayo de 2015. Disponible en: http://www.periodicomirador.com/2015/05/27/derechos-femeninos-en-medios-lo-mas-incumplido-de-platafo</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_PaginaAbierta.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 28 y 28 de mayo de 2015</p>
          <p>Fuente: García Martínez, Anayeli. “Violencia en redes pretende intimidar a feministas y blogueras” en Página abierta, 28 de mayo de 2015. Disponible en: http://paginabierta.mx/sitio/violenciaenredespretendeintimidarafeministasyblogueras/</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/5mayo27-282015ForoIntgeneroMediosTicsPerid_CimacNoticias_Anivelglobal.pdf"><b>   Foro Internacional Género, Medios, TICs y Periodismo. A 20 años de la Plataforma de Acción de Beijing</b></a>
          </div>
          <p>Realización del evento: 29 y 28 de mayo de 2015</p>
          <p>Fuente: Soto Espinosa, Angélica Jocelyn. “A nivel global no se ha logrado equidad de género en medios” en Cimac noticias. Periodismo con perspectiva de género, 27 de mayo de 2015. Disponible en: http://www.cimacnoticias.com.mx/node/69758</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/8Agosto132015_CIMACNoticias_Cobertura%20de%20feminicidio%20en%20Narvarte,%20sin%20etica%20periodistica.pdf"><b>   Foro Comunicar la violencia feminicida: debates éticos</b></a>
          </div>
          <p>Realización del evento: 13 de agosto de 2015</p>
          <p>Fuente: Soto Espinosa, Angélica Jocelyn. “Cobertura de feminicidio en Narvarte, sin ética periodística” en Cimac noticias. Periodismo con perspectiva de género, 13 de agosto de 2015. Disponible en: http://www.cimacnoticias.com.mx/node/70419</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/8Agosto132015_CIMACNoticias_Presionan%20para%20que%20se%20decrete%20AVG%20en%20Colima%20y%20Michoacan.pdf"><b>   Foro Comunicar la violencia feminicida: debates éticos</b></a>
          </div>
          <p>Realización del evento: 13 de agosto de 2015</p>
          <p>Fuente: Soto Espinosa, Angélica Jocelyn. “Presionan para que se decrete AVG en Colima y Michoacán” en Cimac noticias. Periodismo con perspectiva de género, 13 de agosto de 2015. Disponible en: http://www.cimacnoticias.com.mx/node/70424</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/8Agosto132015_DiarioRotativo_Cobertura%20de%20feminicidio%20en%20Narvarte,%20sin%20etica%20periodistica.pdf"><b>   Foro Comunicar la violencia feminicida: debates éticos</b></a>
          </div>
          <p>Realización del evento: 13 de agosto de 2015</p>
          <p>Fuente: “Cobertura de feminicidio en Narvarte, sin ética periodística” en Diario Rotativo, 13 de agosto de 2015. Disponible en: https:/rotativo.com.mx/noticias/nacionales/justicianacionales/439425coberturadefeminicidioennarvartesineticaperiodistica/</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/8Agosto132015_La%20Jornada_%20Hay%20inaccion%20del%20Estado%20en%20materia%20de%20feminicidios.pdf"><b>   Foro Comunicar la violencia feminicida: debates éticos</b></a>
          </div>
          <p>Realización del evento: 13 de agosto de 2015</p>
          <p>Fuente: Román, José Antonio. “Hay inacción del Estado en materia de feminicidios” en La Jornada, año 31, núm. 11148, Sección Política, 14 de agosto de 2015, p. 11. Disponible en: http://www.jornada.unam.mx/2015/08/14/politica/011n3pol</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/8Agosto132015_Desinformemonos%20%C2%BB%20Hay%20inaccion%20del%20Estado%20en%20materia%20de%20feminicidios.pdf"><b>    Foro Comunicar la violencia feminicida: debates éticos</b></a>
          </div>
          <p>Realización del evento: 13 de agosto de 2015</p>
          <p>Fuente: Bazaine, Alejandro. “Hay inacción del Estado en materia de feminicidios” en Desinformémomos.org, 14 de agosto de 2015. Disponible en: http://desinformemonos.org.mx/2015/08/hayinacciondelestadoenmateriadefeminicidios/</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/8Agosto132015_Areopago_Realizan%20el%20foro%20Comunicar%20el%20feminicidio_%20debates%20eticos.pdf"><b>   Foro Comunicar la violencia feminicida: debates éticos</b></a>
          </div>
          <p>Realización del evento: 13 de agosto de 2015</p>
          <p>Fuente: “Feminismo. Realizan el foro Comunicar el feminicidio: debates éticos” en Aerópago Diario, 14 de agosto de 2015. Disponible en http://www.areopago.mx/feminismo/4124realizanelforocomunicarelfeminicidiodebateseticos</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/8Agosto132015_%2024%20Horas_Exigen%20trato%20justo%20para%20victimas%20de%20la%20Narvarte%20en%20medios.pdf"><b>   Foro Comunicar la violencia feminicida: debates éticos</b></a>
          </div>
          <p>Realización del evento: 13 de agosto de 2015</p>
          <p>Fuente: “Exigen trato justo para víctimas de la Narvarte en medios” en 24 Horas, 17 de agosto de 2015. Disponible en http://www.24-horas.mx/exigen-trato-justo-para-victimas-de-la-narvarte-en-medios/</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10Oct212015RedIntegra_RadioFormula.pdf"><b>   Evento Fundacional de INTEGRA. Red de Investigación Interdisciplinaria sobre Identidades, Racismo y Xenofobia en América Latina</b></a>
          </div>
          <p>Realización del evento: 21 de octubre de 2015</p>
          <p>Fuente: “UNAM aloja Red de Investigación Interdisciplinaria sobre Identidades, Racismo y Xenofobia en AL” en Grupo Fórmula, 15 de noviembre de 2015. Disponible en: http://www.radioformula.com.mx/notas.asp?Idn=547775&idFC=2015</p>

        </td>
      </tr>

    </table>

  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
