<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b>Presencia en Medios de los Encuentros Académicos del CEIICH Otros medios, 2010</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-02-08-jornada.pdf"><b>   Conferencia Magistral de Teresita de Barbieri. Pensar las relaciones de género en América Latina. Caminos recorridos, desafios del porvenir</b></a>
          </div>
          <p>Realización del evento: 3 de febrero</p>
          <p>Fuente: Norandi, Mariana “Matrimonio, institución vetusta y obsoleta, dice investigadora” en La Jornada, núm.9154, año 26, sección Sociedad y Justicia, 8 de febrero de 2010, p. 40.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-03-1-gacetapoliticavirtual%20(1).pdf"><b>   Presentación de Libro: El Lejano Próximo. Estudios sociológicos sobre extrañeidad.</b></a>
          </div>
          <p>Realización del evento: 25 de febrero</p>
          <p>Fuente: Martínez Eslava, Leticia. “El extraño no sólo es el otro” en Gaceta Políticas Virtual, 25 de febrero de 2010, disponible en (http://gacerapolíticas.blogspot.com/2010/02crees-que-puedas-ser-presidente.html)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-03-1-gacetapoliticavirtual.pdf"><b>   Presentación de Libro: El Lejano Próximo. Estudios sociológicos sobre extrañeidad.</b></a>
          </div>
          <p>Realización del evento: 25 de febrero</p>
          <p>Fuente: Martínez Eslava, Leticia. “El extraño no sólo es el otro” en Gaceta Políticas Virtual, 25 de febrero de 2010 disponible en (http://gacerapolíticas.blogspot.com/2010/02crees-que-puedas-ser-presidente.html)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-08-20-jornada.pdf"><b>   Presentación del libro Tiempos Mexicanos</b></a>
          </div>
          <p>Realización del evento: 19 de agosto</p>
          <p>Fuente: Montaño Garfias, Eicka. “Se quiere instalar un tiempo de guerra y barbarie, pero no ha prosperado: experta” en La Jornada, núm. 9346, año 26, sección Cultura, 20 de agosto de 2010, p. 4a.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-09-30-jornada.pdf"><b>   Mesa: 80 días en huelga de hambre..... una mirada al conflicto territorial mapuche</b></a>
          </div>
          <p>Realización del evento: 29 de septiembre</p>
          <p>Fuente: Olivares Alonso, Amir. “Si Chile no da solución, esta semana habrá víctimas entre mapuches en ayuno, alertan” en La Jornada, núm. 9386, año 27, sección Política, 30 de septiembre de 2010 p. 20.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-12-02-jornada.pdf"><b>   Presentación del libro: La Crisis de las Utopías</b></a>
          </div>
          <p>Realización del evento: 2 de diciembre</p>
          <p>Fuente: Petrich, Blanche. “Las transformaciones han de ser obra de los excluidos” en La Jornada, núm.9449, año 27, sección Política, 2 de diciembre de 2010, p. 18.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-12-03-jornada.pdf"><b>   Presentación del libro: La Crisis de las Utopías</b></a>
          </div>
          <p>Realización del evento: 2 de diciembre</p>
          <p>Fuente: Paul, Carlos. “Flores Olea defiende las utopías como ejes de la existencia humana” en La Jornada, núm.9450, año 27, sección Política, 3 de diciembre de 2010, p. 18.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-12-letrasjornada.pdf"><b>   Presentación del libro: Homofobia. Laberinto de la Ignorancia</b></a>
          </div>
          <p>Realización del evento: 23 de noviembre</p>
          <p>Fuente: “Homofobia, un concepto en construcción” Letra S, suplemento de La Jornada, núm. 173, sección Reseña, 20 de diciembre de 2010, p. 8.</p>

        </td>
      </tr>


    </table>
  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
