<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Gaceta Portal UNAM, 2009</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-04-14-jornada.pdf"><b>   Seminario sobre el libro: La crisis de las utopías (en preparación) de Víctor Flores Olea</b></a>
          </div>
          <p>Realización del evento: 13 a 16 de abril</p>
          <p>Fuente: Mateos- Vega, Mónica. “En 50 años, Occidente puede convertirse en muchas repúblicas de inmigrantes”, en La Jornada, núm. 8858, año 25, sección Cultura, 14 de abril de 2009, p. 7a.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-10-06-jornada.pdf"><b>   Presentación del Libro:Foro sobre la Despenalización del Aborto. Respuesta social ante las Controversias Constitucionales.</b></a>
          </div>
          <p>Realización del evento: 21 de octubre</p>
          <p>Fuente: Velasco C., Elizabeth “Criminalización del aborto aproxima a México a un Estado totalitario: Valadés” en La Jornada, núm. 9031, año 26, sección Sociedad y Justicia, 6 de octubre de 2009, p. 33.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-10-14-jornada.pdf"><b>   Presentación del Libro: Contra el Oscurantismo: Defensa de la Laicidad, la Educación Sexual y el Evolucionismo.</b></a>
          </div>
          <p>Realización del evento: 15 de octubre</p>
          <p>Fuente: Norandi, Mariana. “Libro en defensa del Estado laico, la educación sexual y el evolucionismo” en La Jornada, núm. 9039, año 26, sección Ciencias, 14 de octubre de 2009, p. 2a.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-10-18-jornada.pdf"><b>   Presentación del Libro: Contra el Oscurantismo: Defensa de la Laicidad, la Educación Sexual y el Evolucionismo.</b></a>
          </div>
          <p>Realización del evento: 15 de octubre</p>
          <p>Fuente: Norandi, Mariana. “Religión y conservadurismo se filtran cada vez más en la educación: Rosaura Ruiz”en La Jornada, núm. 9043, año 26, sección ,18 de octubre de 2009, p.17.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-10-22-jornada.pdf"><b>   Presentación del Libro:Foro sobre la Despenalización del Aborto. Respuesta social ante las Controversias Constitucionales.</b></a>
          </div>
          <p>Realización del evento: 21 de octubre</p>
          <p>Fuente: Norandi, Mariana. “Un embrión de 12 semanas carece de corteza cerebral; no es persona” en La Jornada, núm.9047, año 26, sección Ciencias, 22 de octubre de 2009, p. 2ª.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-11-07-jornada.pdf"><b>   Mesa Redonda: Diálogos sobre género, Feminismo y Estudios sobre Varones</b></a>
          </div>
          <p>Realización del evento: 6 de noviembre</p>
          <p>Fuente: Norandi, Mariana.“El feminismo en el país requiere consolidarse” en La Jornada, núm.9063, año 26, sección Sociedad y Justicia, 7 de noviembre de 2009, p. 33.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-11-12-excelsior.pdf"><b>   Coloquio PRD a veinte años de su fundación</b></a>
          </div>
          <p>Realización del evento: 10 y 11 de noviembre</p>
          <p>Fuente: González, Isabel. “Cárdenas embiste a Ebrad y AMLO” en Excelsior, sección Nacional, 12 de noviembre de 2009,disponible en (http://www.exonline.com.mx/diario/noticia/primera/pulsonacional/cardenas_embiste_a_e...)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-11-12-jornada.pdf"><b>   Encuentro Internacional e Interdisciplinario en Nanociencia y Nanotecnología NanoMex'09</b></a>
          </div>
          <p>Realización del evento: 10 y 11 de noviembre</p>
          <p>Fuente: Heras, Antonio. “Congreso en Ensenada reúne a expertos en nanotecnología” en La Jornada, núm.9068, año 26, sección Ciencias, 12 de noviembre de 2009, p.2a.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-11-19-soldemexico.pdf"><b>   Seminario Internacional. Impactos de la Revolución Cubana en América Latina Hoy.</b></a>
          </div>
          <p>Realización del evento: 18 y 19 de noviembre</p>
          <p>Fuente: Gutiérrez, Israel. “Descarta embajador de Cuba fin a bloqueo de EU con Obama” ene. Sol de México, sección Nacional, 19 de noviembre de 2009, p. 6A.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-12-13-jornada.pdf"><b>   Conferencia Magistral: Ecologismo de los pobres en América Latina</b></a>
          </div>
          <p>Realización del evento: 3 de noviembre</p>
          <p>Fuente: Enciso l., Angélica. “Cada vez más pobres luchan contra el racismo ambiental” en La Jornada, núm. 9099, año 26, sección Política, 13 de diciembre de 2009, p.8.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-03-11-jornada.01.pdf"><b>   Mesa.Agua,Tierra y represas</b></a>
          </div>
          <p>Realización del evento: 17 de febrero</p>
          <p>Fuente: Laura Poy Solano “Acceso en México a agua y alimentos, factor de alta explosividad social: UNAM” en La Jornada, núm. 8824, año 25, sección Sociedad y Justicia, 11 de marzo de 2009, p. 42.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-03-11-jornada.02.pdf"><b>   Simposio: Ecología Política de la Minería en México: aspectos socioeconómicos, legales y ambientales.</b></a>
          </div>
          <p>Realización del evento: 17 de febrero</p>
          <p>Fuente: Poy Solano, Laura. “Gobiernan mineras externas zonas de alta marginalidad” en La Jornada, núm. 8824, año 25, sección Sociedad y Justicia, 11 de marzo de 2009, p. 43.</p>

        </td>
      </tr>

    </table>
  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
