<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b>Presencia en Medios de los Encuentros Académicos del CEIICH Otros medios, 2014</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/14-01-29-conaprednoticia.pdf"><b>   Coloquio Internacional. Identidades, racismo y xenofobia en América Latina: Una perspectiva interdisciplinaria acerca de un problema complejo</b></a>
          </div>
          <p>Realización del evento: 28 al 31 de enero</p>
          <p>Fuente: "Pendiente el combate al racismo y la xenofobia:Conapred" en CONAPRED-noticia, 29 de enero de 2014, disponible en (http://www.conapred.org.mx/index.php?contenido=noticias&id=4630&id_opcion=446&op=447)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/14-01-20-conapredboletin.pdf"><b>   Coloquio Internacional. Identidades, racismo y xenofobia en América Latina: Una perspectiva interdisciplinaria acerca de un problema complejo</b></a>
          </div>
          <p>Realización del evento: 28 al 31 de enero</p>
          <p>Fuente: "Se conforma INTEGRA: Red de Investigación Interdisciplinaria y Difusión sobre Identidades, Racismo y Xenofobia en América Latina" en Conapred-Boletín, 20 de enero de 2014, disponible en (http://www.conapred.org.mx/index.php?contenido=boletin&id=608&id_op</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/14-01-28-Conaprednoticia.pdf"><b>   Coloquio Internacional. Identidades, racismo y xenofobia en América Latina: Una perspectiva interdisciplinaria acerca de un problema complejo</b></a>
          </div>
          <p>Realización del evento: 28 al 31 de enero</p>
          <p>Fuente: "Palabras de Ricardo Bucio en la Inauguración del Coloquio Internacional Identidades, Racismo y Xenofobia en América Latina" en CONAPRED-Noticia, 28 de enero de 2014, disponible en (http://www.conapred.org.mx/index.php?contenido=noticias&id=4627&id_opcion</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/14-01-29-AFmedios.com.pdf"><b>   Coloquio Internacional. Identidades, racismo y xenofobia en América Latina: Una perspectiva interdisciplinaria acerca de un problema complejo</b></a>
          </div>
          <p>Realización del evento: 28 al 31 de enero</p>
          <p>Fuente: "Racismo, fenómeno de intolerancia: UNAM" en AFmedios.com, 29 de enero de 2014, disponible en (http://www.afmedios.com/nacional/sociedad/53732-racismo-fenomeno-de-intolerancia-unam.html)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/14-01-29-diariorotativo.pdf"><b>   Coloquio Internacional. Identidades, racismo y xenofobia en América Latina: Una perspectiva interdisciplinaria acerca de un problema complejo</b></a>
          </div>
          <p>Realización del evento: 28 al 31 de enero</p>
          <p>Fuente: "Racismo, fenómeno de intolerancia y discriminación: expertos" en Diario Rotativo, 29 de enero de 2014, disponible en (http://www.rotativo.com.mx/noticias/nacionales/232285-racismo-fenomeno-de-intolerancia-y-discriminacion-expertos/)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/14-01-29-periodicodigital.mx.pdf"><b>   Coloquio Internacional. Identidades, racismo y xenofobia en América Latina: Una perspectiva interdisciplinaria acerca de un problema complejo</b></a>
          </div>
          <p>Realización del evento: 28 al 31 de enero</p>
          <p>Fuente: "Racismo, fenómeno de intolerancia y discriminación" en Periódicodigital.mx, 29 de enero de 2014, disponible en (http://periodicodigital.com.mx/notas/racismo_fenomeno_de_intolerancia_y_discriminacion#.UxTB74WFc1w)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/14-01-30-sitiosfuente.pdf"><b>   Coloquio Internacional. Identidades, racismo y xenofobia en América Latina: Una perspectiva interdisciplinaria acerca de un problema complejo</b></a>
          </div>
          <p>Realización del evento: 28 al 31 de enero</p>
          <p>Fuente: "Racismo, fenómeno de intolerancia" en Sitiosfuente.info, 30 de enero de 2014, disponible en (http://sitiosfuente.info/politicaysociedad/3467-racismo-fenomeno-de-intolerancia.html)</p>
        </td>
      </tr>

    </table>
  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
