<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b> Presencia en Medios de los Encuentros Académicos del CEIICH Gaceta Portal UNAM, 2013</b></p>
        </td>
      </tr>

      <tr>
        <td  class="item-pm">
        <div class="div-pm">
          <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-05-18-jornada.pdf"><b>   Entrevista Leonardo Felipe Olivos Santoyo</b></a>
        </div>
          <p>Realización del evento: 18 de mayo</p>
          <p>Fuente: Jiménez, Arturo "Debe garantizarse el ejercicio de derechos" en La Jornada, núm. 10338, año 29 , sección Sociedad y Justicia, 18 de mayo de 2013, p. 33</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-05-19-jornada.pdf"><b>   Entrevista Leonardo Felipe Olivos Santoyo</b></a>
          </div>
          <p>Realización del evento: 19 de mayo</p>
          <p>Fuente: Camacho Servín, Fernando "Chicos gays se definen más temprano" en La Jornada, núm.10339, año 29, sección Sociedad y Justicia, 19 de mayo de 2013, p. 36.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-06-06-jornada.pdf"><b>   Coloquio.Karl Marx a 195 años de su nacimiento. El regreso del topo</b></a>
          </div>
          <p>Realización del evento: 6 a 9 de mayo</p>
          <p>Fuente: Flores Olea, Víctor "El regreso de Marx" en La Jornada, núm. 10326, año 29, sección Opinión, 6 de mayo de 2013.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-07-13-jornada.pdf"><b>   Entrevista Olivia Tena Guerrero</b></a>
          </div>
          <p>Realización del evento: 3 de julio</p>
          <p>Fuente: Olivares Alonso, Emir, "Un hombre desempleado rompe el modelo de masculinidad impuesto, revela estudio"en La Jornada, núm.10333, año 29, sección Sociedad y Justicia, 13 de julio de 2013, p. 40</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-07-18-jornada.pdf"><b>   Entrevista Ricardo Lino Mansilla Corona</b></a>
          </div>
          <p>Realización del evento: 18 de julio</p>
          <p>Fuente: Olivares Alonso, Emir, "Crean sistema que analiza a través de Twitter posibles brotes de gripe o influenza"en La Jornada, núm.10339, año 29, sección Sociedad y Justicia, 18 de julio de 2013, p. 39.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-08-01-HumanidadesYCienciasSociales.pdf"><b>   Libro. John Lennon. Un humanista subersivo.</b></a>
          </div>
          <p>Realización del evento: 1 de agosto</p>
          <p>Fuente: Concheiro, Elvira, Carlos Flores y Julio Muñoz Rubio (editores), "John Lennon. Un humanista subersivo" en Humanidades y Ciencias Sociales, Año IX, número 76, agosto de 2013, p. 18.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-08-01-HumanidadesYCienciasSociales.pdf"><b>   Presentación del libro: John Lennon. Un humanista subversivo</b></a>
          </div>
          <p>Realización del evento: 9 de octubre</p>
          <p>Fuente: Elvira Concheiro, Carlos Flores y Julio Muñoz Rubio (editores), "John Lennon. Un humanista subersivo" en Humanidades y Ciencias Sociales, Año IX, número 76, agosto de 2013, p. 18.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-08-22-cimacnoticias.pdf"><b>   Coloquio Internacional, Mujeres en la Policía. Miradas Feministas sobre su experiencia y su entorno laboral.</b></a>
          </div>
          <p>Realización del evento: 22 y 23 agosto</p>
          <p>Fuente: Zamora Márquez, Anaiz "Mujeres policías sometidas al machismo de fuerzas de seguridad" en Cimacnoticias, 22 de agosto de 2013, disponible en (<a href="http://www.cimacnoticias.com.mx/node/64061">http://www.cimacnoticias.com.mx/node/64061</a>)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-08-23-adital.pdf"><b>   Coloquio Internacional, Mujeres en la Policía. Miradas Feministas sobre su experiencia y su entorno laboral.</b></a>
          </div>
          <p>Realización del evento: 22 y 23 agosto</p>
          <p>Fuente: Zamora Márquez, Anaiz "Mujeres policías sometidas al machismo de fuerzas de seguridad. Padecen discriminación y reproducen roles de género" en Adital, 23 de agosto de 2013, disponible en (http://www.adital.com.br/site/noticia_imp.asp?lang=ES&img=S&cod=771</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-09-01-HumanidadesYCienciasSociales.pdf"><b>   Libro. El Corazón de los Libros. Alzate y Bartolache: lectores y escritores novohispanos.</b></a>
          </div>
          <p>Realización del evento: 1 de septiembre</p>
          <p>Fuente: Sánchez Menchero, Mauricio "El Corazón de los Libros. Alzate y Bartolache:lectores y escritores novohispanos", en Humanidades y Ciencias Sociales, Año IX, número 77, septiembre de 2013, p. 18.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href=""><b>   </b></a>
          </div>
          <p></p>
          <p></p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-09-01-HumanidadesYCienciasSociales.02.pdf"><b>   Seminario. Narrar la Ciencia</b></a>
          </div>
          <p>Realización del evento: 10 y 11 de septiembre</p>
          <p>Fuente: Itzá E.E., "Estrategias para difundir la academia" en Humanidades y Ciencias Sociales, Año IX, número 77, septiembre de 2013, p. 8.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-10-09-jornada.pdf"><b>   Presentación del libro: John Lennon. Un humanista subversivo</b></a>
          </div>
          <p>Realización del evento: 9 de octubre</p>
          <p>Fuente: Rodriguez, Mónica "El legado de John Lennon invita a luchar por otro mundo justo y de paz", en La Jornada, núm. 10481, año 30, sección Cultura, 9 de octubre de 2013, p.7a.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-10-11-jornada.pdf"><b>   Presentación del libro: John Lennon. Un humanista subversivo</b></a>
          </div>
          <p>Realización del evento: 9 de octubre</p>
          <p>Fuente: Flores, Alondra " A 73 años del nacimiento del ex beatle John Lennon, " el sueño no ha terminado" en La Jornada, núm. 10483, año 30, sección Cultura, 11 de octubre,p. 4a.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-11-01-HumanidadesYCienciasSociales.pdf"><b>   Conferencia. Espacio público, seguridad y derecho a la ciudad</b></a>
          </div>
          <p>Realización del evento: 28 de octubre</p>
          <p>Fuente: "Ciudad, democracia y espacio público", en Humanidades y Ciencias Sociales, Año IX, número 79, noviembre de 2013, p. 14-15.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-11-01-HumanidadesYCienciasSociales.2.pdf"><b>   XII FERIA DEL LIBRO de la Torre II de Humanidades, Otoño 2012</b></a>
          </div>
          <p>Realización del evento: 4 al 8 de noviembre</p>
          <p>Fuente: "Cerca de los estudiantes: libros de ciencias sociales y humanidades", en Humanidades y Ciencias Sociales, Año IX, número 79, noviembre de 2013, p. 4-5.</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-11-08-aztecanoticias.pdf"><b>   Seminario Internacional. La empresa pública en México y América Latina: historia, situación y perspectivas</b></a>
          </div>
          <p>Realización del evento: 6 al 8 de noviembre</p>
          <p>Fuente: Contreras, Paul "Urge modernizar el Metro: Joel Ortega" en aztecanoticias, 8 de noviembre de 2013, disponible en (http://www.aztecanoticias.com.mx/notas/sociedad-y-medio-ambiente/173651/urge-modernizar-el-metro-joel-ortega)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-11-11-cronica.com.pdf"><b>   Seminario Internacional. La empresa pública en México y América Latina: historia, situación y perspectivas</b></a>
          </div>
          <p>Realización del evento: 6 al 8 de noviembre</p>
          <p>Fuente: Barrios Fuentes, Ruth "Quieren diputados castigar a “bocineros” del Metro hasta con 36 horas de arresto" en Crónica. Com.mx, 11 de noviembre de 2013, disponible en (<a href="http://www.cronica.com.mx/notas/2013/795764.html">http://www.cronica.com.mx/notas/2013/795764.html</a>)</p>

        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/13-11-01-INAAP.pdf"><b>   Seminario Internacional. La empresa pública en México y América Latina: historia, situación y perspectivas</b></a>
          </div>
          <p>Realización del evento: 6 al 8 de noviembre</p>
          <p>Fuente: "Seminario Internacional. La empresa pública en México y América Latina" en INAP. Martes de noticias, 12 de noviembre de 2013, disponible en (<a href="http://www.inap.mx/portal/images/pdf/semanales/boletinmartes29.pdf">http://www.inap.mx/portal/images/pdf/semanales/boletinmartes29.pdf</a>)</p>

        </td>
      </tr>

    </table>

  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
