<%= render "presencia_medios"%>
  <div class="cajaPresenciaMedios">
    <table class="items-presencia-medios">
      <tr>
        <td>
          <p class="titulos-pm">
            <b>Presencia en Medios de los Encuentros Académicos del CEIICH Otros medios, 2012</b></p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-01-15-hayth.pdf"><b>   Mesa Redonda. Sobre el arte de no ser gobernados.</b></a>
          </div>
          <p>Realización del evento: 10 de enero</p>
          <p>Fuente: Dimitriadou, Marina, "Sea arena, no en El Aceite de motor" en H AYTH, 15 de enero de 2012, disponible en (http://www.avgi.gr/ArticleActionshow.action?articleID=663488)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-01-15-inserta.pdf"><b>   Conferencia. Sobre el arte de no ser gobernados.</b></a>
          </div>
          <p>Realización del evento: 10 de enero</p>
          <p>Fuente: Dimitriadou, Marina "Sea arena, no aceite en el motor (Co) habla con James C. Scott" en Inserta, 15 de enero de 2012, disponible en (http://enthemata.wordpress.com/2012/01/15/marina-dem-2/)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-03-02-aunamnoticias.pdf"><b>   Presentación del Libro La Huella Global de China. Interacciones Internacionales de una Potencia Mundial</b></a>
          </div>
          <p>Realización del evento: 23 de febrero</p>
          <p>Fuente: Vega Vélez, Jessica Viridiana "China presente en el Palacio de Minería" en aunamnoticias. 2 de marzo de 2012, disponible en (http://aunamnoticias.blogspot.mx/2012/03/china-presente-en-el-palacio-de-mineria.html)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-03-07-aunamnoticias.pdf"><b>   Conferencia Psicoterapia Psicodramática a tres voces.La clínica psicodramática en el contexto actual</b></a>
          </div>
          <p>Realización del evento: 2 de marzo</p>
          <p>Fuente: Vega Vélez, Jessica Viridiana "Psicodrama, un alivio al Tejido Social" en aunamnoticias, 7 de marzo de 2012, disponible en (http://aunamnoticias.blogspot.mx/2012/03/psicodrama-un-alivio-al-tejido-social.html)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-03-13-aunamnoticias.pdf"><b>   Ciclo de Cine. Modos de empleo:De Mussolini a Berlusconi</b></a>
          </div>
          <p>Realización del evento: 21 de febrero a 27 de marzo</p>
          <p>Fuente: Vega Vélez, Jessica Viridiana "Cine de Mussolini a Berlusconi, para analizar México", en aunamnoticias, 13 de marzo de 2012, disponible en (http://aunamnoticias.blogspot.mx/2012/03/cine-de-mussolini-berlusconi-para.html)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-03-23-aunamnoticias.pdf"><b>   Segundo Coloquio de Crítica Jurídica en México. Homenaje al Dr. Jorge Eduardo Fuentes Morúa</b></a>
          </div>
          <p>Realización del evento: 21 de marzo</p>
          <p>Fuente: Vega Vélez, Jessica Viridiana "Recuerdan a Jorge Fuentes Morúa en el CEIICH" en aunamnoticias, 23 de marzo de 2012, disponible en (http://aunamnoticias.blogspot.mx/2012/03/recuerdan-jorge-fuentes-morua-en-el.html)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-04-25-jornada.pdf"><b>   Presentación del libro Reencuentro con Marx. Partido y Praxis Revolucionaria</b></a>
          </div>
          <p>Realización del evento: 25 de abril</p>
          <p>Fuente: Jiménez, Arturo "Elvira Concheiro invita a recuperar al Marx político" en La Jornada, núm. 9,954, año 28, sección Cultura, 25 de abril de 2012, p. 3a.</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-04-26-jornada.pdf"><b>   Presentación del libro Reencuentro con Marx. Partido y Praxis Revolucionaria</b></a>
          </div>
          <p>Realización del evento: 25 de abril</p>
          <p>Fuente: Peláez, Marcos "Presentan Libro" fotografía en La Jornada, núm. 9955, año 28, sección Política, 26 de abril de 2012, p.8.</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-04-27-jornada.pdf"><b>   Presentación del libro Reencuentro con Marx. Partido y Praxis Revolucionaria</b></a>
          </div>
          <p>Realización del evento: 25 de abril</p>
          <p>Fuente: Jimenez, Arturo. "Resolver problemas humanos, desafío para los partidos de izquierda: González Casanova" en La Jornada, núm. 9956, año 28, sección Cultura, 27 de abril de 2012, p. 5a.</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-05-HumanidadesyCienciasSociales.pdf"><b>   Conferencia Magistral Política del Cambio Climático “Debemos de ser capaces de reconocer y comprender la complejidad y no considerarla como sinónimo de caos” Elinor Ostrom</b></a>
          </div>
          <p>Realización del evento: 8 de mayo</p>
          <p>Fuente: “Elinor Ostrom”, en Humanidades y Ciencias Sociales, Año VIII, número 67, sección Nota, mayo de 2012, p. 4-5.</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-05-09-adnpolitico.pdf"><b>   Mesa ¿Cómo analizar una campaña electoral desde la interdisciplina?</b></a>
          </div>
          <p>Realización del evento: 9 de mayo</p>
          <p>Fuente: Balderas, Óscar "Hartos de los spots políticos, 1 de cada 4: MillwardBrown!" en ADN Político.com, 9 de mayo de 2012, disponible en (http://www.adnpolitico.com/2012/2012/05/09/hartos-de-los-spots-politicos-1-de-cada-4-millwardbrown)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-05-10-adnpolitico.pdf"><b>   Mesa ¿Cómo analizar una campaña electoral desde la interdisciplina?</b></a>
          </div>
          <p>Realización del evento: 9 de mayo</p>
          <p>Fuente: Balderas, Óscar "Peña nieto, el 'rey' de los spots en televisión" en ADN Político.com, 10 de mayo de 2012, disponible en (http://www.adnpolitico.com/2012/2012/05/10/pena-nieto-el-rey-de-los-s... 1)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-05-11-aunamnoticias.pdf"><b>   Mesa ¿Cómo analizar una campaña electoral desde la interdisciplina?</b></a>
          </div>
          <p>Realización del evento: 9 de mayo</p>
          <p>Fuente: Vega, Viridiana " Analizan Agencias de Opinión las Campañas Electorales" en aunamnoticias, 11 de mayo de 2012, disponible en (http://aunamnoticias.blogspot.mx/)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-05-14-vertigopolitico.pdf"><b>   Mesa ¿Cómo analizar una campaña electoral desde la interdisciplina?</b></a>
          </div>
          <p>Realización del evento: 9 de mayo</p>
          <p>Fuente: Herrera, Gade "Hasta el hartazgo de tanto spot político" en Vértigo Político, 14 de mayo de 2012 disponible en (http://www.vertigopolitico.com/es/vertigo/noticia?id=n12184)</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-05-24-jornada.pdf"><b>   Mesa El negocio de las refresqueras y del agua embotellada en México: nutrición, pobreza y política de Estado</b></a>
          </div>
          <p>Realización del evento: 23 de mayo</p>
          <p>Fuente: Olivares Alonso, Amir. "Beneficia sólo a 4 empresas la explotación de agua embotellada" en La Jornada, núm 9983, año 28, sección Sociedad y Justicia, 24 de mayo de 2012, p. 46.</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-05-30-jornada.pdf"><b>   Ciclo de Conferencias "Desarrollo y Buen Vivir" y Taller "Desarrollo y Postdesarrollo"</b></a>
          </div>
          <p>Realización del evento: 29 a 31 de mayo</p>
          <p>Fuente: Olivares Alonso, emir "Se enfrenta una crisis de la civilización multidimensional, opinan expertos" en La Jornada, núm. 9989, año 28, sección Sociedad y Justicia, 30 de mayo de 2012, p. 43.</p>
        </td>
      </tr>
      <tr>
        <td  class="item-pm">
          <div class="div-pm">
            <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%><a href="http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-08-25-jornada.pdf"><b>   Presentación del Libro La Crisis de las Utopías</b></a>
          </div>
          <p>Realización del evento: 24 de agosto</p>
          <p>Fuente: Jiménez, Arturo "Víctor Flores Olea: el capitalismo niega de manera 'cruel y trágica' a la democracia" en La Jornada, núm.10076 , año 28, sección Cultura, 25 de agosto de 2012, p. 5a.</p>
        </td>
      </tr>
  

    </table>
  <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
  </div>
</div>
</div>
