<%= render "descripcion_depto"%>
		<div class="cajaPresenciaMedios">
      <table>
        <tr>
          <td class="td-presencia_medios">
            <p class="titulo-pm">Boletines CEIICH</p>
          </td>
          <td class="td-presencia_medios">
          <p>
            <%= link_to "  2009  ",departamentos_tecnicos_boletines_2009_path, class: "link-presencia_medios" %>
            <%= link_to "  2010  ",departamentos_tecnicos_boletines_2010_path, class: "link-presencia_medios"%>
            <%= link_to "  2012  ",departamentos_tecnicos_boletines_2012_path, class: "link-presencia_medios"%>
            <%= link_to "  2013  ",departamentos_tecnicos_boletines_2013_path, class: "link-presencia_medios"%>
          </p>
            </td>
        </tr>
        <tr>
          <td class="td-presencia_medios">
            <p class="titulo-pm">Gaceta y Portal UNAM</p>
          </td>
          <td class="td-presencia_medios">
          <p>
            <%= link_to "  2009  ", departamentos_tecnicos_gaceta_portal_2009_path, class: "link-presencia_medios" %>
            <%= link_to "  2010  ", departamentos_tecnicos_gaceta_portal_2010_path, class: "link-presencia_medios"%>
            <%= link_to "  2011  ", departamentos_tecnicos_gaceta_portal_2011_path, class: "link-presencia_medios"%>
            <%= link_to "  2012  ", departamentos_tecnicos_gaceta_portal_2012_path, class: "link-presencia_medios"%>
            <%= link_to "  2013  ", departamentos_tecnicos_gaceta_portal_2013_path, class: "link-presencia_medios"%>
            <%= link_to "  2014  ", departamentos_tecnicos_gaceta_portal_2014_path, class: "link-presencia_medios"%>
            <%= link_to "  2015  ", departamentos_tecnicos_gaceta_portal_2015_path, class: "link-presencia_medios"%>
          </p>
            </td>
        </tr>
        <tr>
          <td class="td-presencia_medios">
            <p class="titulo-pm">Otros medios</p>
          </td>
          <td class="td-presencia_medios">
          <p>
            <%= link_to "  2009  ",departamentos_tecnicos_otros_2009_path, class: "link-presencia_medios" %>
            <%= link_to "  2010  ", departamentos_tecnicos_otros_2010_path, class: "link-presencia_medios"%>
						<%= link_to "  2011  ", departamentos_tecnicos_otros_2011_path, class: "link-presencia_medios"%>
            <%= link_to "  2012  ", departamentos_tecnicos_otros_2012_path, class: "link-presencia_medios"%>
            <%= link_to "  2013  ", departamentos_tecnicos_otros_2013_path, class: "link-presencia_medios"%>
            <%= link_to "  2014  ", departamentos_tecnicos_otros_2014_path, class: "link-presencia_medios"%>
            <%= link_to "  2015  ", departamentos_tecnicos_otros_2015_path, class: "link-presencia_medios"%>

          </p>
            </td>
        </tr>
        <tr>
          <td class="td-presencia_medios">
            <p class="titulo-pm">Reseñas de libros</p>
          </td>
          <td class="td-presencia_medios">
          <p>
            <%= link_to "  2009  ","reseña_2009", class: "link-presencia_medios" %>
            <%= link_to "  2010  ", "reseña_2010", class: "link-presencia_medios"%>
            <%= link_to "  2012  ", "reseña_2011", class: "link-presencia_medios"%>
            <%= link_to "  2013  ", "reseña_2012", class: "link-presencia_medios"%>
            <%= link_to "  2014  ", "reseña_2013", class: "link-presencia_medios"%>

          </p>
            </td>
        </tr>
      </table>
		</div>
	</div>
</div>
