<%= render "presencia_medios"%>

<!-- TERMINA CONTENIDOS -->

 <div class="cajaPresenciaMedios">
   <table class="items-presencia-medios">
     <tr>
       <td>
         <p class="titulos-pm">
           <b> Presencia en Medios de los Encuentros Académicos del CEIICH Reseñas de libros, 2011</b></p>
       </td>
     </tr>
     <tr>
       <td  class="item-pm">
         <div class="div-pm">
           <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
             <%=link_to "Presentación de Libro. Corporalidades","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-08-R1.pdf",class: "titulo-presencia_medios"%>
         </div>
         <p>Realización del evento: 13 de mayo</p>
         <p>Fuente: Hernández Romero, Erika. “Aguiluz Ibargüen, Maya [coordinadora] Corporalidades" , Departamento de Difusión CEIICH/ UNAM, agosto de 2011.</p>
       </td>
     </tr>
     <tr>
       <td  class="item-pm">
         <div class="div-pm">
           <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
             <%=link_to "Presentación de Libro. Corporalidades","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/11-09-R2.pdf",class: "titulo-presencia_medios"%>
         </div>
         <p>Realización del evento: 13 de mayo</p>
         <p>Fuente: Hernández Romero, Erika.“Aguiluz Ibargüen, Maya [coordinadora] Corporalidades" en Humanidades y Ciencias Sociales, Año VII, número 61, sección Libros y Autores, septiembre de 2011, p.21.</p>
       </td>
     </tr>


   </table>
 <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
 </div>
