<%= render "presencia_medios"%>

<div class="cajaPresenciaMedios">
  <table class="items-presencia-medios">
    <tr>
      <td>
        <p class="titulos-pm">
          <b> Presencia en Medios de los Encuentros Académicos del CEIICH Reseñas de libros, 2009</b></p>
      </td>
    </tr>
    <tr>
      <td  class="item-pm">
        <div class="div-pm">
          <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
            <%=link_to "La televisión encantada. Publicidad política en México","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-03-R1.pdf",class: "titulo-presencia_medios"%>
        </div>
        <p>Realización del evento: 23 de marzo</p>
        <p>Fuente: Campos Arzeta, Mireille.“La televisión encantada. Publicidad política en México”, CNNExpansión, 25 de marzo de 2009. Disponible en (http://www.cnnexpansion.com/centralelectoral/resulta_editorial.php?uid=83)</p>
      </td>
    </tr>
    <tr>
      <td  class="item-pm">
        <div class="div-pm">
          <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
            <%=link_to "La comunicación en México. Una agenda de investigación","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-04-R2-02.pdf",class: "titulo-presencia_medios"%>
        </div>
        <p>Realización del evento: 1 de abril</p>
        <p>Fuente: Campos Arzeta, Mireille. “La Comunicación en México. Una agenda de Investigación”, Archipiélago, núm. 64, año 17, sección Nuestros Libros, abril- junio 2009, p. 30</p>

      </td>
    </tr>
    <tr>
      <td  class="item-pm">
        <div class="div-pm">
          <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
          <%=link_to "La comunicación en México. Una agenda de investigación","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-04-R2-03.pdf",class: "titulo-presencia_medios"%>
        </div>
        <p>Realización del evento: 1 de abril</p>
        <p>Fuente: Campos Arzeta, Mireille. “La Comunicación en México. Una agenda de Investigación”, Archipiélago, núm. 64, año 17, sección Nuestros Libros, abril- junio 2009, p. 30.</p>

      </td>
    </tr>
    <tr>
      <td  class="item-pm">
        <div class="div-pm">
          <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
          <%=link_to "La comunicación en México. Una agenda de investigación","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-04-R2.pdf",class: "titulo-presencia_medios"%>

        </div>
        <p>Realización del evento: 1 de abril</p>
        <p>Fuente: Campos Arzeta, Mireille. “La Comunicación en México. Una agenda de Investigación”, Archipiélago, núm. 64, año 17, sección Nuestros Libros, abril- junio 2009, p. 30.</p>

      </td>
    </tr>
    <tr>
      <td  class="item-pm">
        <div class="div-pm">
          <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
          <%=link_to "Presentación del libro: Entre amoras. Lesbianismo en la narrativa mexicana","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/09-12-R3.pdf",class: "titulo-presencia_medios"%>
        </div>
        <p>Realización del evento: 9 de octubre</p>
        <p>Fuente: Bastida Aguilar, Leonardo, “Entre Amoras", Letra S, La Jornada, 10 de diciembre, 2009</p>

      </td>
    </tr>


  </table>
<%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
</div>
