 <%= render "presencia_medios"%>

 <div class="cajaPresenciaMedios">
   <table class="items-presencia-medios">
     <tr>
       <td>
         <p class="titulos-pm">
           <b> Presencia en Medios de los Encuentros Académicos del CEIICH Reseñas de libros, 2010</b></p>
       </td>
     </tr>
     <tr>
       <td  class="item-pm">
         <div class="div-pm">
           <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
             <%=link_to "Libro. El Lejano Próximo. Estudios sociológicos sobre extrañeidad","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-02-R2.pdf",class: "titulo-presencia_medios"%>
         </div>
         <p>Realización del evento: 1 de febrero</p>
         <p>Fuente: Aguiluz Ibargüen, Maya “El Lejano Próximo. Estudios sociológicos sobre extrañeidad. Reseña”, Departamento de Difusión, CEIICH/ UNAM, febrero de 2010.</p>
       </td>
     </tr>
		 <tr>
			 <td  class="item-pm">
				 <div class="div-pm">
					 <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
						 <%=link_to "Libro. La universidad en la encrucijada de nuestro tiempo.","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-09-R3.pdf",class: "titulo-presencia_medios"%>
				 </div>
				 <p>Realización del evento: 1 de septiembre</p>
				 <p>Fuente: Hernández Romero, Erika. “Gandarilla Salgado, José Guadalupe [Comp.], La Universidad en la Encrucijada de nuestro tiempo”, Departamento de Difusión CEIICH/ UNAM, septiembre de 2010.</p>
			 </td>
		 </tr>
		 <tr>
			 <td  class="item-pm">
				 <div class="div-pm">
					 <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
						 <%=link_to "Libro. La universidad en la encrucijada de nuestro tiempo.","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-12-R4.pdf",class: "titulo-presencia_medios"%>
				 </div>
				 <p>Realización del evento: 1 de octubre</p>
				 <p>Fuente: Hernández Romero, Erika. “Gandarilla Salgado, José Guadalupe [Compilador], La Universidad en la Encrucijada de nuestro tiempo (Reseña)”, en Humanidades y Ciencias Sociales, Año VI, número 52, sección Libros y Autores, septiembre-octubre de 2010, p. 22.</p>
			 </td>
		 </tr>
		 <tr>
			 <td  class="item-pm">
				 <div class="div-pm">
					 <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
						 <%=link_to "Libro. Homofobia. Laberinto de la Ignorancia","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/10-12-R5.pdf",class: "titulo-presencia_medios"%>
				 </div>
				 <p>Realización del evento: 2 de diciembre</p>
				 <p>Fuente: Brito, Alejandro. “Homofobia, un concepto en construcción” en Letra S, suplemento de La Jornada, núm. 173, sección Reseña, 2 de diciembre de 2010.</p>
			 </td>
		 </tr>


   </table>
 <%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
 </div>
