<%= render "presencia_medios"%>

<div class="cajaPresenciaMedios">
  <table class="items-presencia-medios">
    <tr>
      <td>
        <p class="titulos-pm">
          <b> Presencia en Medios de los Encuentros Académicos del CEIICH Reseñas de libros, 2012</b></p>
      </td>
    </tr>
    <tr>
      <td  class="item-pm">
        <div class="div-pm">
          <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
            <%=link_to "Presentación de Libro. Pueblos Urbanos: Identidad, Ciudadanía y Territorio en la ciudad de México","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-03-R1.pdf",class: "titulo-presencia_medios"%>
        </div>
        <p>Realización del evento: 27 de julio</p>
        <p>Fuente: Hernández Romero, Erika. “ Álvarez Enríquez, Lucía [coordinadora] Pueblos Urbanos. Identidad, ciudadanía y territorio en la ciudad de México" , Departamento de Difusión CEIICH/ UNAM, marzo de 2012.</p>
      </td>
    </tr>
    <tr>
      <td  class="item-pm">
        <div class="div-pm">
          <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
            <%=link_to "Presentación de Libro. Pueblos Urbanos: Identidad, Ciudadanía y Territorio en la ciudad de México","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-04-R2.pdf",class: "titulo-presencia_medios"%>
        </div>
        <p>Realización del evento: 27 de julio</p>
        <p>Fuente: Hernández Romero, Erika. “ Álvarez Enríquez, Lucía [coordinadora] Pueblos Urbanos. Identidad, ciudadanía y territorio en la ciudad de México, (Reseña)", en Humanidades y Ciencias Sociales, Año VIII, número 66, sección Reseñas, abril de 2012, p. 21.</p>
      </td>
    </tr>
    <tr>
      <td  class="item-pm">
        <div class="div-pm">
          <%=fa_icon('paperclip',class: 'fas fa-paperclip fa-2x ')%>
            <%=link_to "Presentación del libro El Reposicionamiento de la Federación Rusa. Retos y Alternativa geoestratégicas","http://computo.ceiich.unam.mx/webceiich/deptoDifusion/32PreMed/12-05-R3.pdf",class: "titulo-presencia_medios"%>
        </div>
        <p>Realización del evento: 27 de abril</p>
        <p>Fuente: “Presentan El reposicionamiento de la Federación Rusa”, en Humanidades y Ciencias Sociales, Año VIII, número 67, sección Nota, mayo de 2012, p. 10.</p>
      </td>
    </tr>



  </table>
<%=link_to fa_icon('undo',class: 'fas fa-undo fa-3x icon-back'), 'javascript:history.back()'%>
</div>
