<%= form_with(model: novedadbibliografica, local: true) do |form| %>
  <% if novedadbibliografica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(novedadbibliografica.errors.count, "error") %> prohibited this novedadbibliografica from being saved:</h2>

      <ul>
      <% novedadbibliografica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mes %>
    <%= form.text_field :mes %>
  </div>

  <div class="field">
    <%= form.label :anio %>
    <%= form.text_field :anio %>
  </div>

  <div class="field">
    <%= form.label :nombre_pdf %>
    <%= form.text_field :nombre_pdf%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
